<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="<%= I18n.locale %>"><!--<![endif]-->

<head data-hook="inside_head">
  <%= render partial: 'spree/shared/head' %>
</head>
<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
<% if controller_name == 'home' && params[:action] == 'index' %>
    <div class="boxed_layout relative w_xs_auto">
      <%= render partial: 'spree/shared/header' %>


      <%= yield %>

      <%= render 'spree/shared/login_popup' %>
      <%= render 'spree/shared/social_widgets' %>
      <!--custom popup-->
      <%= render 'spree/shared/quick_view' %>
      <%= render partial: 'spree/shared/footer' %>

    </div>
<% else %>
    <div class="wide_layout relative">
      <%= render partial: 'spree/shared/header' %>


      <%= yield %>

      <%= render 'spree/shared/login_popup' %>
      <%= render 'spree/shared/social_widgets' %>
      <!--custom popup-->
      <%= render 'spree/shared/quick_view' %>
      <%= render partial: 'spree/shared/footer' %>
    </div>
<% end %>

<button class="t_align_c r_corners tr_all_hover type_2 animate_ftl" id="go_to_top"><i class="fa fa-angle-up"></i></button>

</body>
</html>
