<section class="breadcrumbs">
  <div class="container">
    <ul class="horizontal_list clearfix bc_list f_size_medium">
      <li class="m_right_10 current"><a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
      <li><a href="#" class="default_t_color">Wishlist</a></li>
    </ul>
  </div>
</section>

<div class="page_content_offset">
  <div class="container">
    <div class="row clearfix">
      <!--left content column-->
      <section class="col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30">
        <h2 class="tt_uppercase color_dark m_bottom_20">My Wishlist</h2>
        <div class="row clearfix m_bottom_15">
          <div class="col-lg-7 col-md-7 col-sm-7 f_sx_none m_xs_bottom_10">
            <p class="d_inline_middle f_size_medium">Results 1 - 5 of 45</p>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 f_sx_none t_xs_align_l t_align_r">
            <!--pagination-->
            <a role="button" href="#" class="f_size_large button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-left"></i></a>
            <ul class="horizontal_list clearfix d_inline_middle f_size_medium m_left_10">
              <li class="m_right_10"><a class="color_dark" href="#">1</a></li>
              <li class="m_right_10"><a class="scheme_color" href="#">2</a></li>
              <li class="m_right_10"><a class="color_dark" href="#">3</a></li>
            </ul>
            <a role="button" href="#" class="f_size_large button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <hr class="m_bottom_30 divider_type_3">
        <!--wishlist table-->
        <table class="table_type_1 responsive_table full_width t_align_l r_corners wraper shadow bg_light_color_1 m_bottom_30">
          <thead>
          <tr class="f_size_large">
            <!--titles for td-->
            <th>Product Image</th>
            <th>Product Name &amp; Category</th>
            <th>Price</th>
            <th>Quanity</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <!--product image-->
            <td data-title="Product Image">
              <%= image_tag 'quick_view_img_10.jpg' , alt: ""%></td>
            <!--product name and category-->
            <td data-title="Product Name">
              <a href="#" class="fw_medium d_inline_b f_size_ex_large color_dark m_bottom_5">Eget elementum vel</a><br>
              <a href="#" class="default_t_color">Dresses</a>
            </td>
            <!--product price-->
            <td data-title="Price">
              <span class="scheme_color fw_medium f_size_large">$102.00</span>
            </td>
            <!--quanity-->
            <td data-title="Quantity">
              <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark">
                <button class="bg_tr d_block f_left" data-direction="down">-</button>
                <input type="text" name="" readonly value="1" class="f_left">
                <button class="bg_tr d_block f_left" data-direction="up">+</button>
              </div>
            </td>
            <!--add or remove buttons-->
            <td data-title="Action">
              <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_10">Add to Cart</button><br>
              <a href="#" class="color_dark"><i class="fa fa-times m_right_5"></i> Remove</a>
            </td>
          </tr>
          <tr>
            <!--product image-->
            <td data-title="Product Image"><%= image_tag 'wishlist_img_1.jpg' , alt: ""%></td>
            <!--product name and category-->
            <td data-title="Product Name">
              <a href="#" class="fw_medium d_inline_b f_size_ex_large color_dark m_bottom_5">Aenean nec eros</a><br>
              <a href="#" class="default_t_color">Skirts</a>
            </td>
            <!--product price-->
            <td data-title="Price">
              <span class="scheme_color fw_medium f_size_large">$52.00</span>
            </td>
            <!--quanity-->
            <td data-title="Quantity">
              <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark">
                <button class="bg_tr d_block f_left" data-direction="down">-</button>
                <input type="text" name="" readonly value="1" class="f_left">
                <button class="bg_tr d_block f_left" data-direction="up">+</button>
              </div>
            </td>
            <!--add or remove buttons-->
            <td data-title="Action">
              <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_10">Add to Cart</button><br>
              <a href="#" class="color_dark"><i class="fa fa-times m_right_5"></i> Remove</a>
            </td>
          </tr>
          <tr>
            <!--product image-->
            <td data-title="Product Image"><%= image_tag 'wishlist_img_2.jpg' , alt: ""%></td>
            <!--product name and category-->
            <td data-title="Product Name">
              <a href="#" class="fw_medium d_inline_b f_size_ex_large color_dark m_bottom_5">Ut tellus dolor dapibus</a><br>
              <a href="#" class="default_t_color">Pants</a>
            </td>
            <!--product price-->
            <td data-title="Price">
              <span class="scheme_color fw_medium f_size_large">$360.00</span>
            </td>
            <!--quanity-->
            <td data-title="Quantity">
              <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark">
                <button class="bg_tr d_block f_left" data-direction="down">-</button>
                <input type="text" name="" readonly value="1" class="f_left">
                <button class="bg_tr d_block f_left" data-direction="up">+</button>
              </div>
            </td>
            <!--add or remove buttons-->
            <td data-title="Action">
              <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_10">Add to Cart</button><br>
              <a href="#" class="color_dark"><i class="fa fa-times m_right_5"></i> Remove</a>
            </td>
          </tr>
          <tr>
            <!--product image-->
            <td data-title="Product Image"><%= image_tag 'wishlist_img_3.jpg' , alt: ""%></td>
            <!--product name and category-->
            <td data-title="Product Name">
              <a href="#" class="fw_medium d_inline_b f_size_ex_large color_dark m_bottom_5">Vestibulum sed ante</a><br>
              <a href="#" class="default_t_color">Tops</a>
            </td>
            <!--product price-->
            <td data-title="Price">
              <span class="scheme_color fw_medium f_size_large">$85.00</span>
            </td>
            <!--quanity-->
            <td data-title="Quantity">
              <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark">
                <button class="bg_tr d_block f_left" data-direction="down">-</button>
                <input type="text" name="" readonly value="1" class="f_left">
                <button class="bg_tr d_block f_left" data-direction="up">+</button>
              </div>
            </td>
            <!--add or remove buttons-->
            <td data-title="Action">
              <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_10">Add to Cart</button><br>
              <a href="#" class="color_dark"><i class="fa fa-times m_right_5"></i> Remove</a>
            </td>
          </tr>
          <tr>
            <!--product image-->
            <td data-title="Product Image"><%= image_tag 'wishlist_img_4.jpg' , alt: ""%></td>
            <!--product name and category-->
            <td data-title="Product Name">
              <a href="#" class="fw_medium d_inline_b f_size_ex_large color_dark m_bottom_5">Nemo enim ipsam
                voluptatem</a><br>
              <a href="#" class="default_t_color">Tops</a>
            </td>
            <!--product price-->
            <td data-title="Price">
              <span class="scheme_color fw_medium f_size_large">$17.00</span>
            </td>
            <!--quanity-->
            <td data-title="Quantity">
              <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark">
                <button class="bg_tr d_block f_left" data-direction="down">-</button>
                <input type="text" name="" readonly value="1" class="f_left">
                <button class="bg_tr d_block f_left" data-direction="up">+</button>
              </div>
            </td>
            <!--add or remove buttons-->
            <td data-title="Action">
              <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_10">Add to Cart</button><br>
              <a href="#" class="color_dark"><i class="fa fa-times m_right_5"></i> Remove</a>
            </td>
          </tr>
          </tbody>
        </table>
        <hr class="m_bottom_10 divider_type_3">
        <div class="row clearfix m_bottom_40">
          <div class="col-lg-7 col-md-7 col-sm-7 f_sx_none m_xs_bottom_10">
            <p class="d_inline_middle f_size_medium">Results 1 - 5 of 45</p>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 t_align_r f_sx_none t_xs_align_l">
            <!--pagination-->
            <a role="button" href="#" class="f_size_large button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-left"></i></a>
            <ul class="horizontal_list clearfix d_inline_middle f_size_medium m_left_10">
              <li class="m_right_10"><a class="color_dark" href="#">1</a></li>
              <li class="m_right_10"><a class="scheme_color" href="#">2</a></li>
              <li class="m_right_10"><a class="color_dark" href="#">3</a></li>
            </ul>
            <a role="button" href="#" class="f_size_large button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <!--alert boxex-->
        <div class="alert_box r_corners color_green success m_bottom_10">
          <i class="fa fa-smile-o"></i><p>Well done! You successfully read this important alert message. </p>
        </div>
        <div class="alert_box r_corners info m_bottom_10">
          <i class="fa fa-info-circle"></i><p>As a guest, this list is stored in a cookie on your computer. For this reason it can not be shared. Login to import your list into our database to be able to share it.</p>
        </div>
        <div class="alert_box r_corners error">
          <i class="fa fa-exclamation-triangle"></i><p>Failed loading XML file </p>
        </div>
      </section>
      <!--right column-->
      <%= render partial: 'spree/shared/right_column', locals: {filter: false,article: false} %>
    </div>
  </div>
</div>
