  <!--[if (lt IE 9) | IE 9]>
  <div style="background:#fff;padding:8px 0 10px;">
      <div class="container" style="width:1170px;">
          <div class="row wrapper">
              <div class="clearfix" style="padding:9px 0 0;float:left;width:83%;"><i
                      class="fa fa-exclamation-triangle scheme_color f_left m_right_10"
                      style="font-size:25px;color:#e74c3c;"></i><b style="color:#e74c3c;">Attention! This page may not
                  display correctly.</b> <b>You are using an outdated version of Internet Explorer. For a faster, safer
                  browsing experience.</b></div>
              <div class="t_align_r" style="float:left;width:16%;"><a
                      href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"
                      class="button_type_4 r_corners bg_scheme_color color_light d_inline_b t_align_c" target="_blank"
                      style="margin-bottom:2px;">Update Now!</a></div>
          </div>
      </div>
  </div>
  <![endif]-->
  <!--markup header-->

  <!--breadcrumbs-->
  <section class="breadcrumbs">
    <div class="container">
      <ul class="horizontal_list clearfix bc_list f_size_medium">
        <li class="m_right_10 current">
          <a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
        <li class="m_right_10 current">
          <a href="#" class="default_t_color">Checkout<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a>
        </li>
        <li><a href="#" class="default_t_color">Shopping Cart</a></li>
      </ul>
    </div>
  </section>
  <!--content-->
  <div class="page_content_offset">
    <div class="container">
      <div class="row clearfix">
        <!--left content column-->
        <section class="col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30">
          <h2 class="tt_uppercase color_dark m_bottom_25">Cart</h2>
          <!--cart table-->
          <table class="table_type_4 responsive_table full_width r_corners wraper shadow t_align_l t_xs_align_c m_bottom_30">
            <thead>
            <tr class="f_size_large">
              <!--titles for td-->
              <th>Product Image &amp; Name</th>
              <th>SKU</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <!--Product name and image-->
              <td data-title="Product Image &amp; name" class="t_md_align_c">
                <%= image_tag 'quick_view_img_10.jpg', class: 'm_md_bottom_5 d_xs_block d_xs_centered', alt: "" %>
                <a href="#" class="d_inline_b m_left_5 color_dark">Eget elementum vel</a>
              </td>
              <!--product key-->
              <td data-title="SKU">PS01</td>
              <!--product price-->
              <td data-title="Price">
                <s>$102.00</s>

                <p class="f_size_large color_dark">$102.00</p>
              </td>
              <!--quanity-->
              <td data-title="Quantity">
                <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark m_bottom_10">
                  <button class="bg_tr d_block f_left" data-direction="down">-</button>
                  <input type="text" name="" readonly value="1" class="f_left">
                  <button class="bg_tr d_block f_left" data-direction="up">+</button>
                </div>
                <div>
                  <a href="#" class="color_dark"><i class="fa fa-check f_size_medium m_right_5"></i>Update</a><br>
                  <a href="#" class="color_dark"><i class="fa fa-times f_size_medium m_right_5"></i>Remove</a><br>
                </div>
              </td>
              <!--subtotal-->
              <td data-title="Subtotal">
                <p class="f_size_large fw_medium scheme_color">$102.00</p>
              </td>
            </tr>
            <tr>
              <!--Product name and image-->
              <td data-title="Product Image &amp; name" class="t_md_align_c">
                <%= image_tag 'wishlist_img_1.jpg', class: 'm_md_bottom_5 d_xs_block d_xs_centered', alt: "" %>
                <a href="#" class="d_inline_b m_left_5 color_dark">Aenean nec eros</a>
              </td>
              <!--product key-->
              <td data-title="SKU">PS02</td>
              <!--product price-->
              <td data-title="Price">
                <p class="f_size_large color_dark">$52.00</p>
              </td>
              <!--quanity-->
              <td data-title="Quantity">
                <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark m_bottom_10">
                  <button class="bg_tr d_block f_left" data-direction="down">-</button>
                  <input type="text" name="" readonly value="1" class="f_left">
                  <button class="bg_tr d_block f_left" data-direction="up">+</button>
                </div>
                <div>
                  <a href="#" class="color_dark"><i class="fa fa-check f_size_medium m_right_5"></i>Update</a><br>
                  <a href="#" class="color_dark"><i class="fa fa-times f_size_medium m_right_5"></i>Remove</a><br>
                </div>
              </td>
              <!--subtotal-->
              <td data-title="Subtotal">
                <p class="f_size_large fw_medium scheme_color">$52.00</p>
              </td>
            </tr>
            <tr>
              <!--Product name and image-->
              <td data-title="Product Image &amp; name" class="t_md_align_c">
                <%= image_tag 'wishlist_img_2.jpg', class: 'm_md_bottom_5 d_xs_block d_xs_centered', alt: "" %>
                <a href="#" class="d_inline_b m_left_5 color_dark">Ut tellus dolor dapibus</a>
              </td>
              <!--product key-->
              <td data-title="SKU">PS03</td>
              <!--product price-->
              <td data-title="Price">
                <p class="f_size_large color_dark">$360.00</p>
              </td>
              <!--quanity-->
              <td data-title="Quantity">
                <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark m_bottom_10">
                  <button class="bg_tr d_block f_left" data-direction="down">-</button>
                  <input type="text" name="" readonly value="1" class="f_left">
                  <button class="bg_tr d_block f_left" data-direction="up">+</button>
                </div>
                <div>
                  <a href="#" class="color_dark"><i class="fa fa-check f_size_medium m_right_5"></i>Update</a><br>
                  <a href="#" class="color_dark"><i class="fa fa-times f_size_medium m_right_5"></i>Remove</a><br>
                </div>
              </td>
              <!--subtotal-->
              <td data-title="Subtotal">
                <p class="f_size_large fw_medium scheme_color">$360.00</p>
              </td>
            </tr>
            <!--prices-->
            <tr>
              <td colspan="4">
                <p class="fw_medium f_size_large t_align_r t_xs_align_c">Coupon Discount:</p>
              </td>
              <td colspan="1">
                <p class="fw_medium f_size_large color_dark">$-74.96</p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <p class="fw_medium f_size_large t_align_r t_xs_align_c">Subtotal:</p>
              </td>
              <td colspan="1">
                <p class="fw_medium f_size_large color_dark">$95.00</p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <p class="fw_medium f_size_large t_align_r t_xs_align_c">Payment Fee:</p>
              </td>
              <td colspan="1">
                <p class="fw_medium f_size_large color_dark">$6.05</p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <p class="fw_medium f_size_large t_align_r t_xs_align_c">Shipment Fee:</p>
              </td>
              <td colspan="1">
                <p class="fw_medium f_size_large color_dark">$0.00</p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <p class="fw_medium f_size_large t_align_r t_xs_align_c">Tax Total:</p>
              </td>
              <td colspan="1">
                <p class="fw_medium f_size_large color_dark">$17.54</p>
              </td>
            </tr>
            <!--total-->
            <tr>
              <td colspan="4" class="v_align_m d_ib_offset_large t_xs_align_l">
                <!--coupon-->
                <form class="d_ib_offset_0 d_inline_middle half_column d_xs_block w_xs_full m_xs_bottom_5">
                  <input type="text" placeholder="Enter your coupon code" name="" class="r_corners f_size_medium">
                  <button class="button_type_4 r_corners bg_light_color_2 m_left_5 mw_0 tr_all_hover color_dark">Save</button>
                </form>
                <p class="fw_medium f_size_large t_align_r scheme_color p_xs_hr_0 d_inline_middle half_column d_ib_offset_normal d_xs_block w_xs_full t_xs_align_c">Total:</p>
              </td>
              <td colspan="1" class="v_align_m">
                <p class="fw_medium f_size_large scheme_color m_xs_bottom_10">$101.05</p>
              </td>
            </tr>
            </tbody>
          </table>
          <!--tabs-->
          <div class="tabs m_bottom_45">
            <!--tabs navigation-->
            <nav>
              <ul class="tabs_nav horizontal_list clearfix">
                <li><a href="#tab-1" class="bg_light_color_1 color_dark tr_delay_hover r_corners d_block">Login</a></li>
                <li><a href="#tab-2" class="bg_light_color_1 color_dark tr_delay_hover r_corners d_block">Register</a>
                </li>
              </ul>
            </nav>
            <section class="tabs_content shadow r_corners">
              <div id="tab-1">
                <!--login form-->
                <h5 class="fw_medium m_bottom_15">I am Already Registered</h5>

                <form>
                  <ul>
                    <li class="clearfix m_bottom_15">
                      <div class="half_column type_2 f_left">
                        <label for="username" class="m_bottom_5 d_inline_b">Username</label>
                        <input type="text" id="username" name="" class="r_corners full_width m_bottom_5">
                        <a href="#" class="color_dark f_size_medium">Forgot your username?</a>
                      </div>
                      <div class="half_column type_2 f_left">
                        <label for="pass" class="m_bottom_5 d_inline_b">Password</label>
                        <input type="password" id="pass" name="" class="r_corners full_width m_bottom_5">
                        <a href="#" class="color_dark f_size_medium">Forgot your password?</a>
                      </div>
                    </li>
                    <li class="m_bottom_15">
                      <input type="checkbox" class="d_none" name="checkbox_4" id="checkbox_4"><label for="checkbox_4">Remember
                      me</label>
                    </li>
                    <li>
                      <button class="button_type_4 r_corners bg_scheme_color color_light tr_all_hover">Log In</button>
                    </li>
                  </ul>
                </form>
              </div>
              <div id="tab-2">
                <form>
                  <ul>
                    <li class="m_bottom_25">
                      <label for="d_name" class="d_inline_b m_bottom_5 required">Displayed Name</label>
                      <input type="text" id="d_name" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_5">
                      <input type="checkbox" class="d_none" name="checkbox_5" id="checkbox_5"><label for="checkbox_5">Create
                      an account</label>
                    </li>
                    <li class="m_bottom_15">
                      <label for="u_name" class="d_inline_b m_bottom_5 required">Username</label>
                      <input type="text" id="u_name" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="u_email" class="d_inline_b m_bottom_5 required">Email</label>
                      <input type="email" id="u_email" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="u_pass" class="d_inline_b m_bottom_5 required">Password</label>
                      <input type="password" id="u_pass" name="" class="r_corners full_width">
                    </li>
                    <li>
                      <label for="u_repeat_pass" class="d_inline_b m_bottom_5 required">Confirm Password</label>
                      <input type="password" id="u_repeat_pass" name="" class="r_corners full_width">
                    </li>
                  </ul>
                </form>
              </div>
            </section>
          </div>
          <h2 class="color_dark tt_uppercase m_bottom_25">Bill To &amp; Shipment Information</h2>

          <div class="bs_inner_offsets bg_light_color_3 shadow r_corners m_bottom_45">
            <div class="row clearfix">
              <div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
                <h5 class="fw_medium m_bottom_15">Bill To</h5>

                <form>
                  <ul>
                    <li class="m_bottom_15">
                      <label for="c_name_1" class="d_inline_b m_bottom_5">Company Name</label>
                      <input type="text" id="c_name_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label class="d_inline_b m_bottom_5">Title</label>
                      <!--product name select-->
                      <div class="custom_select relative">
                        <div class="select_title type_2 r_corners relative color_dark mw_0">Mr</div>
                        <ul class="select_list d_none"></ul>
                        <select name="product_name">
                          <option value="Mr 1">Mr 1</option>
                          <option value="Ms">Ms</option>
                        </select>
                      </div>
                    </li>
                    <li class="m_bottom_15">
                      <label for="f_name_1" class="d_inline_b m_bottom_5 required">First Name</label>
                      <input type="text" id="f_name_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="m_name_1" class="d_inline_b m_bottom_5 required">Middle Name</label>
                      <input type="text" id="m_name_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="l_name_1" class="d_inline_b m_bottom_5 required">Last Name</label>
                      <input type="text" id="l_name_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="address_1" class="d_inline_b m_bottom_5 required">Address 1</label>
                      <input type="text" id="address_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="address_1_1" class="d_inline_b m_bottom_5 required">Address 2</label>
                      <input type="text" id="address_1_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="code_1" class="d_inline_b m_bottom_5 required">Zip / Postal Code</label>
                      <input type="text" id="code_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="city_1" class="d_inline_b m_bottom_5 required">City</label>
                      <input type="text" id="city_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label class="d_inline_b m_bottom_5 required">Country</label>
                      <!--product name select-->
                      <div class="custom_select relative">
                        <div class="select_title type_2 r_corners relative color_dark mw_0">Please select</div>
                        <ul class="select_list d_none"></ul>
                        <select name="product_name">
                          <option value="England">England</option>
                          <option value="Australia">Australia</option>
                          <option value="Austria">Austria</option>
                        </select>
                      </div>
                    </li>
                    <li class="m_bottom_15">
                      <label class="d_inline_b m_bottom_5 required">State / Province / Region</label>
                      <!--product name select-->
                      <div class="custom_select relative">
                        <div class="select_title type_2 r_corners relative color_dark mw_0">Please select</div>
                        <ul class="select_list d_none"></ul>
                        <select name="product_name">
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                    </li>
                    <li class="m_bottom_15">
                      <label for="phone_1" class="d_inline_b m_bottom_5">Phone</label>
                      <input type="text" id="phone_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="m_phone_1" class="d_inline_b m_bottom_5">Mobile Phone</label>
                      <input type="text" id="m_phone_1" name="" class="r_corners full_width">
                    </li>
                    <li>
                      <label for="fax_1" class="d_inline_b m_bottom_5">Fax</label>
                      <input type="text" id="fax_1" name="" class="r_corners full_width">
                    </li>
                  </ul>
                </form>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h5 class="fw_medium m_bottom_15">Ship To</h5>

                <form>
                  <ul>
                    <li class="m_bottom_5">
                      <input type="checkbox" checked class="d_none" name="checkbox_6" id="checkbox_6"><label for="checkbox_6">Add/Edit
                      shipment address</label>
                    </li>
                    <li class="m_bottom_15">
                      <label for="a_name_1" class="d_inline_b m_bottom_5">Address Nickname</label>
                      <input type="text" id="a_name_1" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="c_name_2" class="d_inline_b m_bottom_5">Company Name</label>
                      <input type="text" id="c_name_2" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="f_name_2" class="d_inline_b m_bottom_5">First Name</label>
                      <input type="text" id="f_name_2" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="m_name_2" class="d_inline_b m_bottom_5">Middle Name</label>
                      <input type="text" id="m_name_2" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="l_name_2" class="d_inline_b m_bottom_5">Last Name</label>
                      <input type="text" id="l_name_2" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="address_2" class="d_inline_b m_bottom_5">Address 1</label>
                      <input type="text" id="address_2" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="address_1_2" class="d_inline_b m_bottom_5">Address 2</label>
                      <input type="text" id="address_1_2" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="code_2" class="d_inline_b m_bottom_5">Zip / Postal Code</label>
                      <input type="text" id="code_2" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="city_2" class="d_inline_b m_bottom_5">City</label>
                      <input type="text" id="city_2" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label class="d_inline_b m_bottom_5">Country</label>
                      <!--product name select-->
                      <div class="custom_select relative">
                        <div class="select_title type_2 r_corners relative color_dark mw_0">Please select</div>
                        <ul class="select_list d_none"></ul>
                        <select name="product_name">
                          <option value="England">England</option>
                          <option value="Australia">Australia</option>
                          <option value="Austria">Austria</option>
                        </select>
                      </div>
                    </li>
                    <li class="m_bottom_15">
                      <label class="d_inline_b m_bottom_5">State / Province / Region</label>
                      <!--product name select-->
                      <div class="custom_select relative">
                        <div class="select_title type_2 r_corners relative color_dark mw_0">Please select</div>
                        <ul class="select_list d_none"></ul>
                        <select name="product_name">
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                    </li>
                    <li class="m_bottom_15">
                      <label for="phone_2" class="d_inline_b m_bottom_5">Phone</label>
                      <input type="text" id="phone_2" name="" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="m_phone_2" class="d_inline_b m_bottom_5">Mobile Phone</label>
                      <input type="text" id="m_phone_2" name="" class="r_corners full_width">
                    </li>
                    <li>
                      <label for="fax_2" class="d_inline_b m_bottom_5">Fax</label>
                      <input type="text" id="fax_2" name="" class="r_corners full_width">
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
          <h2 class="tt_uppercase color_dark m_bottom_30">Shipment Information</h2>

          <div class="bs_inner_offsets bg_light_color_3 shadow r_corners m_bottom_45">
            <figure class="block_select clearfix relative m_bottom_15">
              <input type="radio" checked name="radio_1" class="d_none">
              <%= image_tag 'shipment_logo.jpg',alt: "", class: 'f_left m_right_20 f_mxs_none m_mxs_bottom_10' %>
              <figcaption>
                <h5 class="color_dark fw_medium m_bottom_15 m_sm_bottom_5">Shipment Method 1</h5>

                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                  Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet,
                  consecvtetuer. </p>
              </figcaption>
            </figure>
            <hr class="m_bottom_20">
            <figure class="block_select clearfix relative">
              <input type="radio" name="radio_1" class="d_none">
              <%= image_tag 'shipment_logo.jpg',alt: "", class: 'f_left m_right_20 f_mxs_none m_mxs_bottom_10' %>
              <figcaption>
                <h5 class="color_dark fw_medium m_bottom_15 m_sm_bottom_5">Shipment Method 2</h5>

                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                  Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.</p>
              </figcaption>
            </figure>
          </div>
          <h2 class="tt_uppercase color_dark m_bottom_30">Payment</h2>

          <div class="bs_inner_offsets bg_light_color_3 shadow r_corners m_bottom_45">
            <figure class="block_select clearfix relative m_bottom_15">
              <input type="radio" checked name="radio_2" class="d_none">
              <%= image_tag 'payment_logo.jpg',alt: "", class: 'f_left m_right_20 f_mxs_none m_mxs_bottom_10' %>
              <figcaption class="d_table d_sm_block">
                <div class="d_table_cell d_sm_block p_sm_right_0 p_right_45 m_mxs_bottom_5">
                  <h5 class="color_dark fw_medium m_bottom_15 m_sm_bottom_5">Payment Method 1</h5>

                  <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                    Aliquam erat volutpat. Duis ac turp. Donec sit amet eros. </p>
                </div>
                <div class="d_table_cell d_sm_block discount">
                  <h5 class="color_dark fw_medium m_bottom_15 m_sm_bottom_0">Discount/Fee</h5>

                  <p class="color_dark">$8.48</p>
                </div>
              </figcaption>
            </figure>
            <hr class="m_bottom_20">
            <figure class="block_select clearfix relative">
              <input type="radio" name="radio_2" class="d_none">
              <%= image_tag 'payment_logo.jpg',alt: "", class: 'f_left m_right_20 f_mxs_none m_mxs_bottom_10' %>
              <figcaption>
                <h5 class="color_dark fw_medium m_bottom_15 m_sm_bottom_5">Payment Method 2</h5>

                <p>Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna.
                  Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.</p>
              </figcaption>
            </figure>
          </div>
          <h2 class="tt_uppercase color_dark m_bottom_30">Terms of service</h2>

          <div class="bs_inner_offsets bg_light_color_3 shadow r_corners m_bottom_45">
            <p class="m_bottom_10">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor
              wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet,
              consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor,
              dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
              Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget,
              malesuada at, neque. </p>

            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo.
              Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec
              porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget
              tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. </p>
          </div>
          <h2 class="tt_uppercase color_dark m_bottom_30">Notes and special requests</h2>
          <!--requests table-->
          <table class="table_type_5 full_width r_corners wraper shadow t_align_l">
            <tr>
              <td colspan="2">
                <label for="notes" class="d_inline_b m_bottom_5">Notes and special requests:</label>
                <textarea id="notes" class="r_corners notes full_width"></textarea>
              </td>
            </tr>
            <tr>
              <td class="t_align_r">
                <p class="f_size_large fw_medium">Coupon Discount:</p>
              </td>
              <td>
                <p class="f_size_large fw_medium color_dark">$-74.96</p>
              </td>
            </tr>
            <tr>
              <td class="t_align_r">
                <p class="f_size_large fw_medium">Subtotal:</p>
              </td>
              <td>
                <p class="f_size_large fw_medium color_dark">$95.00</p>
              </td>
            </tr>
            <tr>
              <td class="t_align_r">
                <p class="f_size_large fw_medium">Payment Fee:</p>
              </td>
              <td>
                <p class="f_size_large fw_medium color_dark">$6.05</p>
              </td>
            </tr>
            <tr>
              <td class="t_align_r">
                <p class="f_size_large fw_medium">Shipment Fee:</p>
              </td>
              <td>
                <p class="f_size_large fw_medium color_dark">$0.00</p>
              </td>
            </tr>
            <tr>
              <td class="t_align_r">
                <p class="f_size_large fw_medium">Tax Total:</p>
              </td>
              <td>
                <p class="f_size_large fw_medium color_dark">$17.54</p>
              </td>
            </tr>
            <tr>
              <td class="t_align_r">
                <p class="f_size_large fw_medium scheme_color">Total:</p>
              </td>
              <td>
                <p class="f_size_large fw_medium scheme_color">$101.05</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="checkbox" name="checkbox_8" id="checkbox_8" class="d_none"><label for="checkbox_8">I agree
                to the Terms of Service (Terms of service)</label>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button class="button_type_6 bg_scheme_color f_size_large r_corners tr_all_hover color_light m_bottom_20">Confirm
                  Purchase
                </button>
              </td>
            </tr>
          </table>
        </section>
        <!--right column-->
        <%= render partial: 'spree/shared/right_column', locals: {filter: false,article: true} %>
      </div>
    </div>
  </div>