  <!--[if (lt IE 9) | IE 9]>
  <div style="background:#fff;padding:8px 0 10px;">
      <div class="container" style="width:1170px;">
          <div class="row wrapper">
              <div class="clearfix" style="padding:9px 0 0;float:left;width:83%;"><i
                      class="fa fa-exclamation-triangle scheme_color f_left m_right_10"
                      style="font-size:25px;color:#e74c3c;"></i><b style="color:#e74c3c;">Attention! This page may not
                  display correctly.</b> <b>You are using an outdated version of Internet Explorer. For a faster, safer
                  browsing experience.</b></div>
              <div class="t_align_r" style="float:left;width:16%;"><a
                      href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"
                      class="button_type_4 r_corners bg_scheme_color color_light d_inline_b t_align_c" target="_blank"
                      style="margin-bottom:2px;">Update Now!</a></div>
          </div>
      </div>
  </div>
  <![endif]-->
  <!--markup header-->
  <!--breadcrumbs-->
  <section class="breadcrumbs">
    <div class="container">
      <ul class="horizontal_list clearfix bc_list f_size_medium">
        <li class="m_right_10 current">
          <a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
        <li><a href="#" class="default_t_color">Women</a></li>
      </ul>
    </div>
  </section>
  <!--content-->
  <div class="page_content_offset">
    <div class="container">
      <div class="row clearfix">
        <!--left content column-->
        <section class="col-lg-9 col-md-9 col-sm-9">
          <h2 class="tt_uppercase color_dark m_bottom_25">Women</h2>
          <%= image_tag 'category_img_1.jpg', alt: '', class: 'r_corners m_bottom_40' %>
          <!--categories nav-->
          <nav class="m_bottom_40">
            <ul class="horizontal_list clearfix categories_nav_list m_xs_right_0 t_mxs_align_c">
              <li class="m_right_15 f_mxs_none w_mxs_auto d_mxs_inline_b m_mxs_bottom_20">
                <a href="#" class="d_block photoframe tr_all_hover shadow color_dark r_corners">
                  <span class="d_block wrapper">
                    <%= image_tag 'category_img_2.jpg', alt: '', class: 'tr_all_long_hover' %>
                  </span>
                  Dresses
                </a>
              </li>
              <li class="m_right_15 f_mxs_none w_mxs_auto d_mxs_inline_b m_mxs_bottom_20">
                <a href="#" class="d_block photoframe tr_all_hover shadow color_dark r_corners">
                  <span class="d_block wrapper">
                    <%= image_tag 'category_img_3.jpg', alt: '', class: 'tr_all_long_hover' %>
                  </span>
                  Tops
                </a>
              </li>
              <li class="m_right_15 f_mxs_none w_mxs_auto d_mxs_inline_b m_mxs_bottom_20">
                <a href="#" class="d_block photoframe tr_all_hover shadow color_dark r_corners">
                  <span class="d_block wrapper">
                    <%= image_tag 'category_img_4.jpg', alt: '', class: 'tr_all_long_hover' %>
                  </span>
                  Skirts
                </a>
              </li>
              <li class="m_right_15 f_mxs_none w_mxs_auto d_mxs_inline_b m_mxs_bottom_20">
                <a href="#" class="d_block photoframe tr_all_hover shadow color_dark r_corners">
                  <span class="d_block wrapper">
                    <%= image_tag 'category_img_5.jpg', alt: '', class: 'tr_all_long_hover' %>
                  </span>
                  Pants
                </a>
              </li>
              <li class="m_right_15 f_mxs_none w_mxs_auto d_mxs_inline_b m_mxs_bottom_20">
                <a href="#" class="d_block photoframe tr_all_hover shadow color_dark r_corners">
                  <span class="d_block wrapper">
                    <%= image_tag 'category_img_6.jpg', alt: '', class: 'tr_all_long_hover' %>
                  </span>
                  Shorts
                </a>
              </li>
            </ul>
          </nav>
          <!--sort-->
          <div class="row clearfix m_bottom_10">
            <div class="col-lg-7 col-md-8 col-sm-12 m_sm_bottom_10">
              <p class="d_inline_middle f_size_medium">Sort by:</p>

              <div class="clearfix d_inline_middle m_left_10">
                <!--product name select-->
                <div class="custom_select f_size_medium relative f_left">
                  <div class="select_title r_corners relative color_dark">Product name</div>
                  <ul class="select_list d_none"></ul>
                  <select name="product_name">
                    <option value="Product SKU">Product SKU</option>
                    <option value="Product Price">Product Price</option>
                    <option value="Product ID">Product ID</option>
                  </select>
                </div>
                <button class="button_type_7 bg_light_color_1 color_dark tr_all_hover r_corners mw_0 box_s_none bg_cs_hover f_left m_left_5">
                  <i class="fa fa-sort-amount-asc m_left_0 m_right_0"></i></button>
              </div>
              <!--manufacturer select-->
              <div class="custom_select f_size_medium relative d_inline_middle m_left_15 m_xs_left_5 m_mxs_left_0 m_mxs_top_10">
                <div class="select_title r_corners relative color_dark">Select manufacturer</div>
                <ul class="select_list d_none"></ul>
                <select name="manufacturer">
                  <option value="Manufacture 1">Manufacture 1</option>
                  <option value="Manufacture 2">Manufacture 2</option>
                  <option value="Manufacture 3">Manufacture 3</option>
                </select>
              </div>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-12 t_align_r t_sm_align_l">
              <!--grid view or list view-->
              <p class="d_inline_middle f_size_medium m_right_5">View as:</p>

              <div class="clearfix d_inline_middle">

                <button id="grid" class="button_type_7 bg_scheme_color color_light tr_delay_hover r_corners mw_0 box_s_none bg_cs_hover f_left">
                  <i class="fa fa-th m_left_0 m_right_0"></i></button>
                <button id="list" class="button_type_7 bg_light_color_1 color_dark tr_delay_hover r_corners mw_0 box_s_none bg_cs_hover f_left m_left_5">
                  <i class="fa fa-th-list m_left_0 m_right_0"></i></button>
              </div>
            </div>
          </div>
          <hr class="m_bottom_10 divider_type_3">
          <div class="row clearfix m_bottom_15">
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 m_xs_bottom_10">
              <p class="d_inline_middle f_size_medium d_xs_block m_xs_bottom_5">Results 1 - 5 of 45</p>

              <p class="d_inline_middle f_size_medium m_left_20 m_xs_left_0">Show:</p>
              <!--show items per page select-->
              <div class="custom_select f_size_medium relative d_inline_middle m_left_5">
                <div class="select_title r_corners relative color_dark">9</div>
                <ul class="select_list d_none"></ul>
                <select name="show">
                  <option value="Manufacture 1">6</option>
                  <option value="Manufacture 2">3</option>
                  <option value="Manufacture 3">1</option>
                </select>
              </div>
              <p class="d_inline_middle f_size_medium m_left_5">items per page</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 t_align_r t_xs_align_l">
              <!--pagination-->
              <a role="button" href="#" class="button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-left"></i></a>
              <ul class="horizontal_list clearfix d_inline_middle f_size_medium m_left_10">
                <li class="m_right_10"><a class="color_dark" href="#">1</a></li>
                <li class="m_right_10"><a class="scheme_color" href="#">2</a></li>
                <li class="m_right_10"><a class="color_dark" href="#">3</a></li>
              </ul>
              <a role="button" href="#" class="button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>

          <!--products-->
          <%#= render partial: 'spree/shared/products_grid_view', locals: {} %>
          <div class="product_container">
            <%= render partial: 'spree/shared/products_grid_view' %>
          </div>

          <hr class="m_bottom_10 divider_type_3">
          <div class="row clearfix m_bottom_15 m_xs_bottom_30">
            <div class="col-lg-7 col-md-7 col-sm-8 m_xs_bottom_10">
              <p class="d_inline_middle f_size_medium d_xs_block m_xs_bottom_5">Results 1 - 5 of 45</p>

              <p class="d_inline_middle f_size_medium m_left_20 m_xs_left_0">Show:</p>
              <!--show items per page select-->
              <div class="custom_select f_size_medium relative d_inline_middle m_left_5">
                <div class="select_title r_corners relative color_dark">9</div>
                <ul class="select_list d_none"></ul>
                <select name="show_second">
                  <option value="Manufacture 1">6</option>
                  <option value="Manufacture 2">3</option>
                  <option value="Manufacture 3">1</option>
                </select>
              </div>
              <p class="d_inline_middle f_size_medium m_left_5">items per page</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 t_align_r t_xs_align_l">
              <!--pagination-->
              <a role="button" href="#" class="button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-left"></i></a>
              <ul class="horizontal_list clearfix d_inline_middle f_size_medium m_left_10">
                <li class="m_right_10"><a class="color_dark" href="#">1</a></li>
                <li class="m_right_10"><a class="scheme_color" href="#">2</a></li>
                <li class="m_right_10"><a class="color_dark" href="#">3</a></li>
              </ul>
              <a role="button" href="#" class="button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </section>

        <!--right column-->
        <%= render partial: 'spree/shared/right_column', locals: {filter: true,article: false} %>
      </div>
    </div>
  </div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#list').click(function (event) {
            $.ajax({
                type: 'GET',
                url: '/change_product_view',
                data: {view_type: 'list'},
            });
        });
        $('#grid').click(function (event) {
            $.ajax({
                type: 'GET',
                url: '/change_product_view',
                data: {view_type: 'grid'},
            });
        });
    });
</script>
