<section class="breadcrumbs">
  <div class="container">
    <ul class="horizontal_list clearfix bc_list f_size_medium">
      <li class="m_right_10 current"><a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
      <li><a href="#" class="default_t_color">Orders List</a></li>
    </ul>
  </div>
</section>
<!--content-->
<div class="page_content_offset">
  <div class="container">
    <div data-hook="account_summary" class="account-summary well">
      <dl id="user-info">
        <dt><%= Spree.t(:email) %></dt>
        <dd><%= @user.email %> (<%= link_to Spree.t(:edit), spree.edit_account_path %>)</dd>
      </dl>
    </div>
    <div class="row clearfix">
      <!--left content column-->
      <section class="col-lg-9 col-md-9 col-sm-9">
        <h2 class="tt_uppercase color_dark m_bottom_30">Orders List</h2>
        <!--orders list table-->
        <table class="table_type_3 responsive_table full_width r_corners wrapper shadow bg_light_color_1 m_bottom_30 t_align_l">
          <thead>
          <tr class="f_size_large">
            <!--titles for td-->
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Order Status</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <!--order number-->
            <td data-title="Order Number"><%= link_to 'R987654321', order_url(Spree::Order.find_by_number!('R987654321')) %></td>
            <!--order date-->
            <td data-title="Order Date">2013-01-03</td>
            <!--order status-->
            <td data-title="Order Status">Confirmed by shopper</td>
            <!--quanity-->
            <td data-title="Total"><span class="f_size_large fw_medium scheme_color">$102.00</span></td>
          </tr>
          <tr>
            <!--order number-->
            <td data-title="Order Number"><%= link_to 'R987654321', order_url(Spree::Order.find_by_number!('R987654321')) %></td>
            <!--order date-->
            <td data-title="Order Date">2013-01-03</td>
            <!--order status-->
            <td data-title="Order Status">Confirmed by shopper</td>
            <!--quanity-->
            <td data-title="Total"><span class="f_size_large fw_medium scheme_color">$102.00</span></td>
          </tr>
          <tr>
            <!--order number-->
            <td data-title="Order Number"><%= link_to 'R987654321', order_url(Spree::Order.find_by_number!('R987654321')) %></td>
            <!--order date-->
            <td data-title="Order Date">2013-01-03</td>
            <!--order status-->
            <td data-title="Order Status">Confirmed by shopper</td>
            <!--quanity-->
            <td data-title="Total"><span class="f_size_large fw_medium scheme_color">$102.00</span></td>
          </tr>
          </tbody>
        </table>
      </section>
      <!--right column-->
      <%= render partial: 'spree/shared/right_column', locals: {filter: false,article: false} %>
    </div>
  </div>
</div>