 <!--[if (lt IE 9) | IE 9]>
  <div style="background:#fff;padding:8px 0 10px;">
      <div class="container" style="width:1170px;"><div class="row wrapper"><div class="clearfix" style="padding:9px 0 0;float:left;width:83%;"><i class="fa fa-exclamation-triangle scheme_color f_left m_right_10" style="font-size:25px;color:#e74c3c;"></i><b style="color:#e74c3c;">Attention! This page may not display correctly.</b> <b>You are using an outdated version of Internet Explorer. For a faster, safer browsing experience.</b></div><div class="t_align_r" style="float:left;width:16%;"><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="button_type_4 r_corners bg_scheme_color color_light d_inline_b t_align_c" target="_blank" style="margin-bottom:2px;">Update Now!</a></div></div></div></div>
  <![endif]-->
  <!--markup header-->
  <!--breadcrumbs-->
  <section class="breadcrumbs">
    <div class="container">
      <ul class="horizontal_list clearfix bc_list f_size_medium">
        <li class="m_right_10 current"><a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
        <li class="m_right_10"><a href="#" class="default_t_color">SignUp</a><i class="fa fa-angle-right d_inline_middle m_left_10"></i></li>
      </ul>
    </div>
  </section>
  <!--content-->
  <div class="page_content_offset">
    <div class="container">
      <div class="row clearfix">
        <!--left content column-->
        <section class="col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30">
          <h2 class="tt_uppercase color_dark m_bottom_25">Create an Account</h2>
          <div class="clearfix m_bottom_30 t_xs_align_c shadow r_corners sign_up_content">
                <%= render :partial => 'spree/shared/user_form'%>
          </div>

          <hr class="divider_type_3 m_bottom_15">
          <a href="#" role="button" class="d_inline_b bg_light_color_2 color_dark tr_all_hover button_type_4 r_corners"><i class="fa fa-reply m_left_5 m_right_10 f_size_large"></i>Back to: Log In</a>
        </section>

        <!--right column-->
        <%= render partial: 'spree/shared/right_column', locals: {filter: false,article: false} %>

      </div>
    </div>
  </div>





