<aside class="col-lg-3 col-md-3 col-sm-3">
  <!--widgets-->
  <figure class="widget shadow r_corners wrapper m_bottom_30">
    <figcaption>
      <h3 class="color_light">Blog Categories</h3>
    </figcaption>
    <div class="widget_content">
      <!--Categories list-->
      <ul class="categories_list">
        <li class="active">
          <a href="#" class="f_size_large color_dark d_block">
            <b>Fashion</b>
          </a>
        </li>
        <li>
          <a href="#" class="f_size_large color_dark d_block">
            <b>Trends</b>
          </a>
        </li>
        <li>
          <a href="#" class="f_size_large color_dark d_block">
            <b>New Arrivals</b>
          </a>
        </li>
      </ul>
    </div>
  </figure>
  <!--banner-->
  <a href="#" class="d_block d_xs_inline_b r_corners m_bottom_30">
    <%= image_tag 'banner_img_6.jpg', alt: "" %>
  </a>
  <!--Popular articles-->
  <figure class="widget shadow r_corners wrapper m_bottom_30">
    <figcaption>
      <h3 class="color_light">Popular Articles</h3>
    </figcaption>
    <div class="widget_content">
      <article class="clearfix m_bottom_15">
        <%= image_tag 'article_img_1.jpg', alt: "", class:  'f_left m_right_15 m_sm_bottom_10 f_sm_none f_xs_left m_xs_bottom_0' %>
        <a href="#" class="color_dark d_block bt_link p_vr_0">Aliquam erat volutpat.</a>
        <p class="f_size_medium">50 comments</p>
      </article>
      <hr class="m_bottom_15">
      <article class="clearfix m_bottom_15">
        <%= image_tag 'article_img_2.jpg', alt: "", class: 'f_left m_right_15 m_sm_bottom_10 f_sm_none f_xs_left m_xs_bottom_0' %>
        <a href="#" class="color_dark d_block p_vr_0 bt_link">Integer rutrum ante </a>
        <p class="f_size_medium">34 comments</p>
      </article>
      <hr class="m_bottom_15">
      <article class="clearfix m_bottom_5">
        <%= image_tag 'article_img_3.jpg', alt: "", class: 'f_left m_right_15 m_sm_bottom_10 f_sm_none f_xs_left m_xs_bottom_0' %>
        <a href="#" class="color_dark d_block p_vr_0 bt_link">Vestibulum libero nisl, porta vel</a>
        <p class="f_size_medium">21 comments</p>
      </article>
    </div>
  </figure>
  <!--Bestsellers-->
  <figure class="widget shadow r_corners wrapper m_bottom_30">
    <figcaption>
      <h3 class="color_light">Bestsellers</h3>
    </figcaption>
    <div class="widget_content">
      <div class="clearfix m_bottom_15">
        <%= image_tag 'bestsellers_img_1.jpg', alt: "", class: 'f_left m_right_15 m_sm_bottom_10 f_sm_none f_xs_left m_xs_bottom_0' %>
        <a href="#" class="color_dark d_block bt_link">Ut tellus dolor dapibus</a>
        <!--rating-->
        <ul class="horizontal_list clearfix d_inline_b rating_list type_2 tr_all_hover m_bottom_10">
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li>
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
        </ul>
        <p class="scheme_color">$61.00</p>
      </div>
      <hr class="m_bottom_15">
      <div class="clearfix m_bottom_15">
        <%= image_tag 'bestsellers_img_2.jpg', alt: "", class: 'f_left m_right_15 m_sm_bottom_10 f_sm_none f_xs_left m_xs_bottom_0' %>
        <a href="#" class="color_dark d_block bt_link">Elementum vel</a>
        <!--rating-->
        <ul class="horizontal_list clearfix d_inline_b rating_list type_2 tr_all_hover m_bottom_10">
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li>
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
        </ul>
        <p class="scheme_color">$57.00</p>
      </div>
      <hr class="m_bottom_15">
      <div class="clearfix m_bottom_5">
        <%= image_tag 'bestsellers_img_3.jpg', alt: "", class: 'f_left m_right_15 m_sm_bottom_10 f_sm_none f_xs_left m_xs_bottom_0' %>
        <a href="#" class="color_dark d_block bt_link">Crsus eleifend elit</a>
        <!--rating-->
        <ul class="horizontal_list clearfix d_inline_b rating_list type_2 tr_all_hover m_bottom_10">
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li>
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
        </ul>
        <p class="scheme_color">$24.00</p>
      </div>
    </div>
  </figure>
  <!--Specials-->
  <figure class="widget shadow r_corners wrapper m_bottom_30">
    <figcaption class="clearfix relative">
      <h3 class="color_light f_left f_sm_none m_sm_bottom_10 m_xs_bottom_0">Specials</h3>
      <div class="f_right nav_buttons_wrap_type_2 tf_sm_none f_sm_none clearfix">
        <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large color_light t_align_c bg_tr f_left tr_delay_hover r_corners sc_prev"><i class="fa fa-angle-left"></i></button>
        <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large color_light t_align_c bg_tr f_left m_left_5 tr_delay_hover r_corners sc_next"><i class="fa fa-angle-right"></i></button>
      </div>
    </figcaption>
    <div class="widget_content">
      <div class="specials_carousel">
        <!--carousel item-->
        <div class="specials_item">
          <a href="#" class="d_block d_xs_inline_b wrapper m_bottom_20">
            <%= image_tag 'product_img_6.jpg', alt: "", class: 'tr_all_long_hover' %>
          </a>
          <h5 class="m_bottom_10"><a href="#" class="color_dark">Aliquam erat volutpat</a></h5>
          <p class="f_size_large m_bottom_15"><s>$79.00</s> <span class="scheme_color">$36.00</span></p>
          <button class="button_type_4 mw_sm_0 r_corners color_light bg_scheme_color tr_all_hover m_bottom_5">Add to Cart</button>
        </div>
        <!--carousel item-->
        <div class="specials_item">
          <a href="#" class="d_block d_xs_inline_b wrapper m_bottom_20">
            <%= image_tag 'product_img_7.jpg', alt: "", class: "tr_all_long_hover" %>
          </a>
          <h5 class="m_bottom_10"><a href="#" class="color_dark">Integer rutrum ante </a></h5>
          <p class="f_size_large m_bottom_15"><s>$79.00</s> <span class="scheme_color">$36.00</span></p>
          <button class="button_type_4 mw_sm_0 r_corners color_light bg_scheme_color tr_all_hover m_bottom_5">Add to Cart</button>
        </div>
        <!--carousel item-->
        <div class="specials_item">
          <a href="#" class="d_block d_xs_inline_b wrapper m_bottom_20">
            <%= image_tag 'product_img_5.jpg', alt: "", class: 'tr_all_long_hover' %>
          </a>
          <h5 class="m_bottom_10"><a href="#" class="color_dark">Aliquam erat volutpat</a></h5>
          <p class="f_size_large m_bottom_15"><s>$79.00</s> <span class="scheme_color">$36.00</span></p>
          <button class="button_type_4 mw_sm_0 r_corners color_light bg_scheme_color tr_all_hover m_bottom_5">Add to Cart</button>
        </div>
      </div>
    </div>
  </figure>
</aside>