<footer id="footer">
  <div class="footer_top_part">
    <div class="container">
      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30">
          <h3 class="color_light_2 m_bottom_20">About</h3>
          <p class="m_bottom_25">Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque.</p>
          <!--social icons-->
          <ul class="clearfix horizontal_list social_icons">
            <li class="facebook m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Facebook</span>
              <a href="#" class="r_corners t_align_c tr_delay_hover f_size_ex_large">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="twitter m_left_5 m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Twitter</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="google_plus m_left_5 m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Google Plus</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li class="rss m_left_5 m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Rss</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-rss"></i>
              </a>
            </li>
            <li class="pinterest m_left_5 m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Pinterest</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li class="instagram m_left_5 m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Instagram</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="linkedin m_bottom_5 m_sm_left_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">LinkedIn</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li class="vimeo m_left_5 m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Vimeo</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-vimeo-square"></i>
              </a>
            </li>
            <li class="youtube m_left_5 m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Youtube</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-youtube-play"></i>
              </a>
            </li>
            <li class="flickr m_left_5 m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Flickr</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-flickr"></i>
              </a>
            </li>
            <li class="envelope m_left_5 m_bottom_5 relative">
              <span class="tooltip tr_all_hover r_corners color_dark f_size_small">Contact Us</span>
              <a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
                <i class="fa fa-envelope-o"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30">
          <h3 class="color_light_2 m_bottom_20">The Service</h3>
          <ul class="vertical_list">
            <li><a class="color_light tr_delay_hover" href="#">My account<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">Order history<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">Wishlist<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">Vendor contact<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">Front page<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">Virtuemart categories<i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30">
          <h3 class="color_light_2 m_bottom_20">Information</h3>
          <ul class="vertical_list">
            <li><a class="color_light tr_delay_hover" href="#">About us<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">New collection<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">Best sellers<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">Manufacturers<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">Privacy policy<i class="fa fa-angle-right"></i></a></li>
            <li><a class="color_light tr_delay_hover" href="#">Terms &amp; condition<i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <h3 class="color_light_2 m_bottom_20">Newsletter</h3>
          <p class="f_size_medium m_bottom_15">Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
          <form id="newsletter">
            <input type="email" placeholder="Your email address" class="m_bottom_20 r_corners f_size_medium full_width" name="newsletter-email">
            <button type="submit" class="button_type_8 r_corners bg_scheme_color color_light tr_all_hover">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--copyright part-->
  <div class="footer_bottom_part">
    <div class="container clearfix t_mxs_align_c">
      <p class="f_left f_mxs_none m_mxs_bottom_10">&copy; 2014 <span class="color_light">Flatastic</span>. All Rights Reserved.</p>
      <ul class="f_right horizontal_list clearfix f_mxs_none d_mxs_inline_b">
        <li><%= image_tag 'payment_img_1.png' %></li>
        <li class="m_left_5"><%= image_tag 'payment_img_2.png' %></li>
        <li class="m_left_5"><%= image_tag 'payment_img_3.png' %></li>
        <li class="m_left_5"><%= image_tag 'payment_img_4.png' %></li>
        <li class="m_left_5"><%= image_tag 'payment_img_5.png' %></li>
      </ul>
    </div>
  </div>
</footer>