<header role="banner">
  <!--header top part-->
  <section class="h_top_part">
    <div class="container">
      <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-5 t_xs_align_c">
          <p class="f_size_small">Welcome visitor can you	<a href="#" data-popup="#login_popup">Log In</a> or <a href="/signup">Create an Account</a> </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2 t_align_c t_xs_align_c">
          <p class="f_size_small">Call us toll free: <b class="color_dark">(123) 456-7890</b></p>
        </div>
        <nav class="col-lg-4 col-md-4 col-sm-5 t_align_r t_xs_align_c">
          <ul class="d_inline_b horizontal_list clearfix f_size_small users_nav">
            <li><a href="/account" class="default_t_color">My Account</a></li>
            <li><a href="/account" class="default_t_color">Orders List</a></li>
            <li><a href="<%= wish_lists_path %>" class="default_t_color">Wishlist</a></li>
            <li><a href="/cart" class="default_t_color">Checkout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <!--header bottom part-->
  <section class="h_bot_part container">
    <div class="clearfix row">
      <div class="col-lg-6 col-md-6 col-sm-4 t_xs_align_c">
        <a href="index.html" class="logo m_xs_bottom_15 d_xs_inline_b">
          <%= image_tag 'logo.png' %>
          <!--<img src="images/logo.png" alt="">-->
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8 t_align_r t_xs_align_c">
        <ul class="d_inline_b horizontal_list clearfix t_align_l site_settings">
          <!--like-->
          <li>
            <a role="button" href="/wish_lists" class="button_type_1 color_dark d_block bg_light_color_1 r_corners tr_delay_hover box_s_none"><i class="fa fa-heart-o f_size_ex_large"></i><span class="count circle t_align_c">12</span></a>
          </li>
          <li class="m_left_5">
            <a role="button" href="/compare_product" class="button_type_1 color_dark d_block bg_light_color_1 r_corners tr_delay_hover box_s_none"><i class="fa fa-files-o f_size_ex_large"></i><span class="count circle t_align_c">3</span></a>
          </li>
          <!--language settings-->
          <li class="m_left_5 relative container3d">
            <a role="button" href="#" class="button_type_2 color_dark d_block bg_light_color_1 r_corners tr_delay_hover box_s_none" id="lang_button"><%= image_tag 'flag_en.jpg', class:  'd_inline_middle m_right_10 m_mxs_right_0' %><span class="d_mxs_none">English</span></a>
            <ul class="dropdown_list top_arrow color_light">
              <li><a href="#" class="tr_delay_hover color_light"><%= image_tag 'flag_en.jpg', class: 'd_inline_middle' %>English</a></li>
              <li><a href="#" class="tr_delay_hover color_light"><%= image_tag 'flag_fr.jpg', class: 'd_inline_middle' %>French</a></li>
              <li><a href="#" class="tr_delay_hover color_light"><%= image_tag 'flag_g.jpg', class: 'd_inline_middle' %>German</a></li>
              <li><a href="#" class="tr_delay_hover color_light"><%= image_tag 'flag_i.jpg', class: 'd_inline_middle' %>Italian</a></li>
              <li><a href="#" class="tr_delay_hover color_light"><%= image_tag 'flag_s.jpg', class: 'd_inline_middle' %>Spanish</a></li>
            </ul>
          </li>
          <!--currency settings-->
          <li class="m_left_5 relative container3d">
            <a role="button" href="#" class="button_type_2 color_dark d_block bg_light_color_1 r_corners tr_delay_hover box_s_none" id="currency_button"><span class="scheme_color">$</span> <span class="d_mxs_none">US Dollar</span></a>
            <ul class="dropdown_list top_arrow color_light">
              <li><a href="#" class="tr_delay_hover color_light"><span class="scheme_color">$</span> US Dollar</a></li>
              <li><a href="#" class="tr_delay_hover color_light"><span class="scheme_color">&#8364;</span> Euro</a></li>
              <li><a href="#" class="tr_delay_hover color_light"><span class="scheme_color">&#163;</span> Pound</a></li>
            </ul>
          </li>
          <!--shopping cart-->
          <li class="m_left_5 relative container3d" id="shopping_button">
            <a role="button" href="#" class="button_type_3 color_light bg_scheme_color d_block r_corners tr_delay_hover box_s_none">
										<span class="d_inline_middle shop_icon m_mxs_right_0">
											<i class="fa fa-shopping-cart"></i>
											<span class="count tr_delay_hover type_2 circle t_align_c">3</span>
										</span>
              <b class="d_mxs_none">$355</b>
            </a>
            <div class="shopping_cart top_arrow tr_all_hover r_corners">
              <div class="f_size_medium sc_header">Recently added item(s)</div>
              <ul class="products_list">
                <li>
                  <div class="clearfix">
                    <!--product image-->
                    <%= image_tag 'shopping_c_img_1.jpg', class: 'f_left m_right_10' %>
                    <!--product description-->
                    <div class="f_left product_description">
                      <a href="#" class="color_dark m_bottom_5 d_block">Cursus eleifend elit aenean auctor wisi et urna</a>
                      <span class="f_size_medium">Product Code PS34</span>
                    </div>
                    <!--product price-->
                    <div class="f_left f_size_medium">
                      <div class="clearfix">
                        1 x <b class="color_dark">$99.00</b>
                      </div>
                      <button class="close_product color_dark tr_hover"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="clearfix">
                    <!--product image-->
                    <%= image_tag 'shopping_c_img_2.jpg', class: 'f_left m_right_10' %>
                    <!--product description-->
                    <div class="f_left product_description">
                      <a href="#" class="color_dark m_bottom_5 d_block">Cursus eleifend elit aenean auctor wisi et urna</a>
                      <span class="f_size_medium">Product Code PS34</span>
                    </div>
                    <!--product price-->
                    <div class="f_left f_size_medium">
                      <div class="clearfix">
                        1 x <b class="color_dark">$99.00</b>
                      </div>
                      <button class="close_product color_dark tr_hover"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="clearfix">
                    <!--product image-->
                    <%= image_tag 'shopping_c_img_3.jpg', class: 'f_left m_right_10' %>
                    <!--product description-->
                    <div class="f_left product_description">
                      <a href="#" class="color_dark m_bottom_5 d_block">Cursus eleifend elit aenean auctor wisi et urna</a>
                      <span class="f_size_medium">Product Code PS34</span>
                    </div>
                    <!--product price-->
                    <div class="f_left f_size_medium">
                      <div class="clearfix">
                        1 x <b class="color_dark">$99.00</b>
                      </div>
                      <button class="close_product color_dark tr_hover"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </li>
              </ul>
              <!--total price-->
              <ul class="total_price bg_light_color_1 t_align_r color_dark">
                <li class="m_bottom_10">Tax: <span class="f_size_large sc_price t_align_l d_inline_b m_left_15">$0.00</span></li>
                <li class="m_bottom_10">Discount: <span class="f_size_large sc_price t_align_l d_inline_b m_left_15">$37.00</span></li>
                <li>Total: <b class="f_size_large bold scheme_color sc_price t_align_l d_inline_b m_left_15">$999.00</b></li>
              </ul>
              <div class="sc_footer t_align_c">
                <a href="/cart" role="button" class="button_type_4 d_inline_middle bg_light_color_2 r_corners color_dark t_align_c tr_all_hover m_mxs_bottom_5">View Cart</a>
                <a href="/cart" role="button" class="button_type_4 bg_scheme_color d_inline_middle r_corners tr_all_hover color_light">Checkout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!--main menu container-->
  <section class="menu_wrap relative">
    <div class="container clearfix">
      <!--button for responsive menu-->
      <button id="menu_button" class="r_corners centered_db d_none tr_all_hover d_xs_block m_bottom_10">
        <span class="centered_db r_corners"></span>
        <span class="centered_db r_corners"></span>
        <span class="centered_db r_corners"></span>
      </button>
      <!--main menu-->
      <nav role="navigation" class="f_left f_xs_none d_xs_none">
        <ul class="horizontal_list main_menu clearfix">
          <li class="current relative f_xs_none m_xs_bottom_5"><a href="index.html" class="tr_delay_hover color_light tt_uppercase"><b>Home</b></a>
            <!--sub menu-->
            <div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
              <ul class="sub_menu">
                <li><a class="color_dark tr_delay_hover" href="index.html">Home Variant 1</a></li>
                <li><a class="color_dark tr_delay_hover" href="index_layout_2.html">Home Variant 2</a></li>
                <li><a class="color_dark tr_delay_hover" href="index_layout_wide.html">Home Variant 3</a></li>
                <li><a class="color_dark tr_delay_hover" href="index_corporate.html">Home Variant 4</a></li>
              </ul>
            </div>
          </li>
          <li class="relative f_xs_none m_xs_bottom_5"><a href="index_layout_wide.html" class="tr_delay_hover color_light tt_uppercase"><b>Sliders</b></a>
            <!--sub menu-->
            <div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
              <ul class="sub_menu">
                <li><a class="color_dark tr_delay_hover" href="index_layout_wide.html">Revolution Slider</a></li>
                <li><a class="color_dark tr_delay_hover" href="index.html">Camera Slider</a></li>
                <li><a class="color_dark tr_delay_hover" href="index_layout_2.html">Flex Slider</a></li>
              </ul>
            </div>
          </li>
          <li class="relative f_xs_none m_xs_bottom_5"><a href="category_grid.html" class="tr_delay_hover color_light tt_uppercase"><b>Shop</b></a>
            <!--sub menu-->
            <div class="sub_menu_wrap top_arrow d_xs_none tr_all_hover clearfix r_corners w_xs_auto">
              <div class="f_left f_xs_none">
                <b class="color_dark m_left_20 m_bottom_5 m_top_5 d_inline_b">Dresses</b>
                <ul class="sub_menu first">
                  <li><a class="color_dark tr_delay_hover" href="#">Evening Dresses</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Casual Dresses</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Party Dresses</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Maxi Dresses</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Midi Dresses</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Strapless Dresses</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Day Dresses</a></li>
                </ul>
              </div>
              <div class="f_left m_left_10 m_xs_left_0 f_xs_none">
                <b class="color_dark m_left_20 m_bottom_5 m_top_5 d_inline_b">Accessories</b>
                <ul class="sub_menu">
                  <li><a class="color_dark tr_delay_hover" href="#">Bags and Purces</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Belts</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Scarves</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Gloves</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Jewellery</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Sunglasses</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Hair Accessories</a></li>
                </ul>
              </div>
              <div class="f_left m_left_10 m_xs_left_0 f_xs_none">
                <b class="color_dark m_left_20 m_bottom_5 m_top_5 d_inline_b">Tops</b>
                <ul class="sub_menu">
                  <li><a class="color_dark tr_delay_hover" href="#">Evening Tops</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Long Sleeved</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Short Sleeved</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Sleeveless</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Tanks</a></li>
                  <li><a class="color_dark tr_delay_hover" href="#">Tunics</a></li>
                </ul>
              </div>
              <%= image_tag 'woman_image_1.jpg', class: 'd_sm_none f_right m_bottom_10' %>
            </div>
          </li>
          <li class="relative f_xs_none m_xs_bottom_5"><a href="#" class="tr_delay_hover color_light tt_uppercase"><b>Portfolio</b></a>
            <!--sub menu-->
            <div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
              <ul class="sub_menu">
                <li><a class="color_dark tr_delay_hover" href="portfolio_two_columns.html">Portfolio 2 Columns</a></li>
                <li><a class="color_dark tr_delay_hover" href="portfolio_three_columns.html">Portfolio 3 Columns</a></li>
                <li><a class="color_dark tr_delay_hover" href="portfolio_four_columns.html">Portfolio 4 Columns</a></li>
                <li><a class="color_dark tr_delay_hover" href="portfolio_masonry.html">Masonry Portfolio</a></li>
                <li><a class="color_dark tr_delay_hover" href="portfolio_single_1.html">Single Portfolio Post v1</a></li>
                <li><a class="color_dark tr_delay_hover" href="portfolio_single_2.html">Single Portfolio Post v2</a></li>
              </ul>
            </div>
          </li>
          <li class="relative f_xs_none m_xs_bottom_5"><a href="category_grid.html" class="tr_delay_hover color_light tt_uppercase"><b>Pages</b></a>
            <!--sub menu-->
            <div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
              <ul class="sub_menu">
                <li><a class="color_dark tr_delay_hover" href="/t/brand">Grid View Category Page</a></li>
                <li><a class="color_dark tr_delay_hover" href="t/brand">List View Category Page</a></li>
                <li><a class="color_dark tr_delay_hover" href="category_no_products.html">Category Page Without Products</a></li>
                <li><a class="color_dark tr_delay_hover" href="product_page_sidebar.html">Product Page With Sidebar</a></li>
                <li><a class="color_dark tr_delay_hover" href="full_width_product_page.html">Full Width Product Page</a></li>
                <li><a class="color_dark tr_delay_hover" href="wishlist.html">Wishlist</a></li>
                <li><a class="color_dark tr_delay_hover" href="compare_products.html">Compare Products</a></li>
                <li><a class="color_dark tr_delay_hover" href="checkout.html">Checkout</a></li>
                <li><a class="color_dark tr_delay_hover" href="manufacturers.html">Manufacturers</a></li>
                <li><a class="color_dark tr_delay_hover" href="manufacturer_details.html">Manufacturer Page</a></li>
                <li><a class="color_dark tr_delay_hover" href="orders_list.html">Orders List</a></li>
                <li><a class="color_dark tr_delay_hover" href="order_details.html">Order Details</a></li>
              </ul>
            </div>
          </li>
          <li class="relative f_xs_none m_xs_bottom_5"><a href="/blog" class="tr_delay_hover color_light tt_uppercase"><b>Blog</b></a>
            <!--sub menu-->
            <div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
              <ul class="sub_menu">
                <li><a class="color_dark tr_delay_hover" href="/blog">Blog page</a></li>
                <li><a class="color_dark tr_delay_hover" href="/blog_show">Single Blog Post page</a></li>
              </ul>
            </div>
          </li>
          <li class="relative f_xs_none m_xs_bottom_5"><a href="features_shortcodes.html" class="tr_delay_hover color_light tt_uppercase"><b>Features</b></a>
            <!--sub menu-->
            <div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
              <ul class="sub_menu">
                <li><a class="color_dark tr_delay_hover" href="features_shortcodes.html">Shortcodes</a></li>
                <li><a class="color_dark tr_delay_hover" href="features_typography.html">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="relative f_xs_none m_xs_bottom_5"><a href="/contact" class="tr_delay_hover color_light tt_uppercase"><b>Contact</b></a></li>
        </ul>
      </nav>
      <button class="f_right search_button tr_all_hover f_xs_none d_xs_none">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <!--search form-->
    <div class="searchform_wrap tf_xs_none tr_all_hover">
      <div class="container vc_child h_inherit relative">
        <form role="search" class="d_inline_middle full_width">
          <input type="text" name="search" placeholder="Type text and hit enter" class="f_size_large">
        </form>
        <button class="close_search_form tr_all_hover d_xs_none color_dark">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </section>
</header>