

<div class="popup_wrap d_none" id="login_popup">
  <section class="popup r_corners shadow">
    <button class="bg_tr color_dark tr_all_hover text_cs_hover close f_size_large"><i class="fa fa-times"></i></button>
    <h3 class="m_bottom_20 color_dark">Log In</h3>
    <%= render 'spree/shared/login_form' %>
    <footer class="bg_light_color_1 t_mxs_align_c">
      <h3 class="color_dark d_inline_middle d_mxs_block m_mxs_bottom_15">New Customer?</h3>
      <a href="#" role="button" class="tr_all_hover r_corners button_type_4 bg_dark_color bg_cs_hover color_light d_inline_middle m_mxs_left_0">Create an Account</a>
    </footer>
  </section>
</div>