<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
    <ul>
      <li class="m_bottom_15">
        <%= f.label :email, 'Email', class: 'm_bottom_5 d_inline_b' %>
        <%= f.email_field :email, :class => 'r_corners full_width', :placeholder => Spree.t(:email) %>
      </li>
      <li class="m_bottom_25">
        <%= f.label :password, 'Password', class: 'm_bottom_5 d_inline_b' %>
        <%= f.password_field :password, :class => 'r_corners full_width', :placeholder => Spree.t(:password) %>
      </li>
      <li class="m_bottom_15">
        <input type="checkbox" class="d_none" id="checkbox_10"><label for="checkbox_10">Remember me</label>
      </li>
      <li class="clearfix m_bottom_30">
        <button class="button_type_4 tr_all_hover r_corners f_left bg_scheme_color color_light f_mxs_none m_mxs_bottom_15">Log
          In
        </button>
        <div class="f_right f_size_medium f_mxs_none">
          <a href="#" class="color_dark">Forgot your password?</a><br>
          <a href="#" class="color_dark">Forgot your username?</a>
        </div>
      </li>
    </ul>
<% end %>