<section class="products_container list_type clearfix m_bottom_5 m_left_0 m_right_0">
  <!--product item-->
  <div class="product_item full_width list_type hit m_left_0 m_right_0">
    <figure class="r_corners photoframe tr_all_hover type_2 shadow relative clearfix">
      <!--product preview-->
      <a href="#" class="d_block f_left relative pp_wrap m_right_30 m_xs_right_25">
        <!--hot product-->
        <span class="hot_stripe"><%= image_tag 'hot_product.png', alt: '' %></span>
        <%= image_tag 'product_img_1.jpg', class: 'tr_all_hover', alt: '' %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <div class="clearfix">
          <div class="f_left p_list_description f_sm_none w_sm_full m_xs_bottom_10">
            <h4 class="fw_medium"><a href="#" class="color_dark">Eget elementum vel</a></h4>
            <div class="m_bottom_10">
              <!--rating-->
              <ul class="horizontal_list d_inline_middle clearfix rating_list type_2 tr_all_hover">
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li>
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
              </ul>
              <a href="#" class="d_inline_middle default_t_color f_size_medium m_left_10">1 Review(s) </a>
            </div>
            <hr class="m_bottom_10">
            <p class="d_sm_none d_xs_block">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit.</p>
          </div>
          <div class="f_right f_sm_none t_align_r t_sm_align_l">
            <p class="scheme_color f_size_large m_bottom_15"><span class="fw_medium">$102.00</span></p>
            <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15 m_sm_bottom_0 d_sm_inline_middle">Add to Cart</button><br class="d_sm_none">
            <button class="button_type_4 bg_light_color_2 tr_all_hover f_right r_corners color_dark mw_0 m_left_5 p_hr_0 d_sm_inline_middle f_sm_none"><i class="fa fa-files-o"></i></button>
            <button class="button_type_4 bg_light_color_2 tr_all_hover f_right m_sm_left_5 r_corners color_dark mw_0 p_hr_0 d_sm_inline_middle f_sm_none"><i class="fa fa-heart-o"></i></button>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item full_width list_type hit m_left_0 m_right_0">
    <figure class="r_corners photoframe tr_all_hover type_2 shadow relative clearfix">
      <!--product preview-->
      <a href="#" class="d_block f_left relative pp_wrap m_right_30 m_sm_right_20 m_xs_right_25">
        <%= image_tag 'product_img_2.jpg', class: 'tr_all_hover', alt: '' %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <div class="clearfix">
          <div class="f_left p_list_description f_sm_none w_sm_full m_xs_bottom_10">
            <h4 class="fw_medium"><a href="#" class="color_dark">Ut tellus dolor dapibus</a></h4>
            <div class="m_bottom_10">
              <!--rating-->
              <ul class="horizontal_list d_inline_middle clearfix rating_list type_2 tr_all_hover">
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li>
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
              </ul>
              <a href="#" class="d_inline_middle default_t_color f_size_medium m_left_10">0 Review(s) </a>
            </div>
            <hr class="m_bottom_10">
            <p class="d_sm_none d_xs_block">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. </p>
          </div>
          <div class="f_right t_align_r f_sm_none t_sm_align_l">
            <p class="scheme_color f_size_large m_bottom_15"><span class="fw_medium">$57.00</span></p>
            <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button><br>
            <ul>
              <li class="m_bottom_5"><a href="#" class="color_dark">Add to Wishlist</a></li>
              <li class="m_bottom_5"><a href="#" class="color_dark">Add to Compare</a></li>
            </ul>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item full_width list_type hit m_left_0 m_right_0">
    <figure class="r_corners type_2 photoframe tr_all_hover shadow relative clearfix">
      <!--product preview-->
      <a href="#" class="d_block f_left relative pp_wrap m_right_30 m_xs_right_25">
        <%= image_tag 'product_img_3.jpg', class: 'tr_all_hover', alt: '' %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <div class="clearfix">
          <div class="f_left p_list_description w_sm_full f_sm_none m_xs_bottom_10">
            <h4 class="fw_medium"><a href="#" class="color_dark">Aenean auctor wisi et urna</a></h4>
            <div class="m_bottom_10">
              <!--rating-->
              <ul class="horizontal_list d_inline_middle clearfix rating_list type_2 tr_all_hover">
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li>
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
              </ul>
              <a href="#" class="d_inline_middle default_t_color f_size_medium m_left_10">1 Review(s) </a>
            </div>
            <hr class="m_bottom_10">
            <p class="d_sm_none d_xs_block">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. </p>
          </div>
          <div class="f_right t_align_r f_sm_none t_sm_align_l">
            <p class="scheme_color f_size_large m_bottom_15"><span class="fw_medium">$99.00</span></p>
            <button class="button_type_4 bg_scheme_color d_sm_inline_middle m_sm_bottom_0 r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button><br class="d_sm_none">
            <button class="button_type_4 bg_light_color_2 d_sm_inline_middle f_sm_none tr_all_hover f_right r_corners color_dark mw_0 m_left_5 p_hr_0"><i class="fa fa-files-o"></i></button>
            <button class="button_type_4 bg_light_color_2 d_sm_inline_middle f_sm_none m_sm_left_5 tr_all_hover f_right r_corners color_dark mw_0 p_hr_0"><i class="fa fa-heart-o"></i></button>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item full_width list_type hit m_left_0 m_right_0">
    <figure class="r_corners photoframe tr_all_hover type_2 shadow relative clearfix">
      <!--product preview-->
      <a href="#" class="d_block f_left relative pp_wrap m_right_30 m_xs_right_25">
        <!--hot product-->
        <span class="hot_stripe"><%= image_tag 'hot_product.png', alt: '' %></span>
        <%= image_tag 'product_img_5.jpg', class: 'tr_all_hover', alt: '' %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <div class="clearfix">
          <div class="f_left p_list_description w_sm_full f_sm_none m_xs_bottom_10">
            <h4 class="fw_medium"><a href="#" class="color_dark">Eget elementum vel</a></h4>
            <div class="m_bottom_10">
              <!--rating-->
              <ul class="horizontal_list d_inline_middle clearfix rating_list type_2 tr_all_hover">
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li>
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
              </ul>
              <a href="#" class="d_inline_middle default_t_color f_size_medium m_left_10">1 Review(s) </a>
            </div>
            <hr class="m_bottom_10">
            <p class="d_sm_none d_xs_block">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. </p>
          </div>
          <div class="f_right t_align_r t_sm_align_l f_sm_none">
            <p class="scheme_color f_size_large m_bottom_15"><span class="fw_medium">$102.00</span></p>
            <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15 d_sm_inline_middle m_sm_bottom_0">Add to Cart</button><br class="d_sm_none">
            <button class="button_type_4 bg_light_color_2 d_sm_inline_middle f_sm_none tr_all_hover f_right r_corners color_dark mw_0 m_left_5 p_hr_0"><i class="fa fa-files-o"></i></button>
            <button class="button_type_4 bg_light_color_2 d_sm_inline_middle f_sm_none m_sm_left_5 tr_all_hover f_right r_corners color_dark mw_0 p_hr_0"><i class="fa fa-heart-o"></i></button>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item full_width list_type hit m_left_0 m_right_0">
    <figure class="r_corners photoframe tr_all_hover type_2 shadow relative clearfix">
      <!--product preview-->
      <a href="#" class="d_block f_left relative pp_wrap m_right_30 m_xs_right_25">
        <!--hot product-->
        <span class="hot_stripe"><%= image_tag 'hot_product.png', alt: '' %></span>
        <%= image_tag 'product_img_8.jpg', class: 'tr_all_hover', alt: '' %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <div class="clearfix">
          <div class="f_left p_list_description w_sm_full f_sm_none m_xs_bottom_10">
            <h4 class="fw_medium"><a href="#" class="color_dark">Ut tellus dolor dapibus</a></h4>
            <div class="m_bottom_10">
              <!--rating-->
              <ul class="horizontal_list d_inline_middle clearfix rating_list type_2 tr_all_hover">
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li>
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
              </ul>
              <a href="#" class="d_inline_middle default_t_color f_size_medium m_left_10">1 Review(s) </a>
            </div>
            <hr class="m_bottom_10">
            <p class="d_sm_none d_xs_block">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. </p>
          </div>
          <div class="f_right t_align_r f_sm_none t_sm_align_l">
            <p class="scheme_color f_size_large m_bottom_15"><span class="fw_medium">$57.00</span></p>
            <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15 m_sm_bottom_0 d_sm_inline_middle">Add to Cart</button><br class="d_sm_none">
            <button class="button_type_4 bg_light_color_2 f_sm_none d_sm_inline_middle tr_all_hover f_right r_corners color_dark mw_0 m_left_5 p_hr_0"><i class="fa fa-files-o"></i></button>
            <button class="button_type_4 bg_light_color_2 f_sm_none d_sm_inline_middle m_left_5 tr_all_hover f_right r_corners color_dark mw_0 p_hr_0"><i class="fa fa-heart-o"></i></button>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>