<section class="products_container category_grid clearfix m_bottom_15">
  <!--product item-->
  <div class="product_item hit w_xs_full">
    <figure class="r_corners photoframe type_2 t_align_c tr_all_hover shadow relative">
      <!--product preview-->
      <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
        <%= image_tag 'product_img_1.jpg', class: 'tr_all_hover', alt: "" %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <h5 class="m_bottom_10"><a href="#" class="color_dark">Eget elementum vel</a></h5>
        <!--rating-->
        <ul class="horizontal_list d_inline_b m_bottom_10 clearfix rating_list type_2 tr_all_hover">
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li class="active">
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
          <li>
            <i class="fa fa-star-o empty tr_all_hover"></i>
            <i class="fa fa-star active tr_all_hover"></i>
          </li>
        </ul>
        <p class="scheme_color f_size_large m_bottom_15">$102.00</p>
        <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>
        <div class="clearfix m_bottom_5">
          <ul class="horizontal_list d_inline_b l_width_divider">
            <li class="m_right_15 f_md_none m_md_right_0"><a href="#" class="color_dark">Add to Wishlist</a></li>
            <li class="f_md_none"><a href="#" class="color_dark">Add to Compare</a></li>
          </ul>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item featured w_xs_full">
    <figure class="r_corners photoframe tr_all_hover type_2 t_align_c shadow relative">
      <!--product preview-->
      <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
        <%= image_tag 'product_img_2.jpg', class: 'tr_all_hover', alt: "" %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <h5 class="m_bottom_10"><a href="#" class="color_dark">Ut tellus dolor dapibus</a></h5>
        <div class="clearfix m_bottom_15">
          <!--rating-->
          <ul class="horizontal_list type_2 m_bottom_10 d_inline_b clearfix rating_list tr_all_hover">
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li>
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
          </ul>
          <p class="scheme_color f_size_large">$57.00</p>
        </div>
        <div class="clearfix">
          <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>
        </div>
        <div class="clearfix m_bottom_5">
          <ul class="horizontal_list d_inline_b l_width_divider">
            <li class="m_right_15 f_md_none m_md_right_0"><a href="#" class="color_dark">Add to Wishlist</a></li>
            <li class="f_md_none"><a href="#" class="color_dark">Add to Compare</a></li>
          </ul>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item new w_xs_full">
    <figure class="r_corners photoframe tr_all_hover type_2 t_align_c shadow relative">
      <!--product preview-->
      <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
        <%= image_tag 'product_img_3.jpg', class: 'tr_all_hover', alt: "" %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <h5 class="m_bottom_10"><a href="#" class="color_dark">Cursus eleifend elit aenean.</a></h5>
        <div class="clearfix">
          <!--rating-->
          <ul class="horizontal_list d_inline_b m_bottom_10 type_2 clearfix rating_list tr_all_hover">
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li>
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
          </ul>
          <p class="scheme_color f_size_large m_bottom_15">$99.00</p>
        </div>
        <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>
        <div class="clearfix m_bottom_5">
          <ul class="horizontal_list d_inline_b l_width_divider">
            <li class="m_right_15 f_md_none m_md_right_0"><a href="#" class="color_dark">Add to Wishlist</a></li>
            <li class="f_md_none"><a href="#" class="color_dark">Add to Compare</a></li>
          </ul>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item specials w_xs_full">
    <figure class="r_corners photoframe tr_all_hover type_2 t_align_c shadow relative">
      <!--product preview-->
      <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
        <%= image_tag 'product_img_5.jpg', class: 'tr_all_hover', alt: "" %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <h5 class="m_bottom_10"><a href="#" class="color_dark">Aliquam erat volutpat</a></h5>
        <div class="clearfix">
          <!--rating-->
          <ul class="horizontal_list d_inline_b m_bottom_10 type_2 clearfix rating_list tr_all_hover">
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li>
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
          </ul>
          <p class="scheme_color f_size_large m_bottom_15">$102.00</p>
        </div>
        <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>
        <div class="clearfix m_bottom_5">
          <ul class="horizontal_list d_inline_b l_width_divider">
            <li class="m_right_15 f_md_none m_md_right_0"><a href="#" class="color_dark">Add to Wishlist</a></li>
            <li class="f_md_none"><a href="#" class="color_dark">Add to Compare</a></li>
          </ul>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item hit w_xs_full">
    <figure class="r_corners photoframe tr_all_hover type_2 t_align_c shadow relative">
      <!--product preview-->
      <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
        <%= image_tag 'product_img_8.jpg', class: 'tr_all_hover', alt: "" %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <h5 class="m_bottom_10"><a href="#" class="color_dark">Eget elementum vel</a></h5>
        <div class="clearfix">
          <!--rating-->
          <ul class="horizontal_list d_inline_b m_bottom_10 type_2 clearfix rating_list tr_all_hover">
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li>
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
          </ul>
          <p class="scheme_color f_size_large m_bottom_15">$102.00</p>
        </div>
        <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>
        <div class="clearfix m_bottom_5">
          <ul class="horizontal_list d_inline_b l_width_divider">
            <li class="m_right_15 f_md_none m_md_right_0"><a href="#" class="color_dark">Add to Wishlist</a></li>
            <li class="f_md_none"><a href="#" class="color_dark">Add to Compare</a></li>
          </ul>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item featured w_xs_full">
    <figure class="r_corners photoframe type_2 t_align_c shadow relative tr_all_hover">
      <!--product preview-->
      <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
        <%= image_tag 'product_img_4.jpg', class: 'tr_all_hover', alt: "" %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <h5 class="m_bottom_10"><a href="#" class="color_dark">Ut tellus dolor dapibus</a></h5>
        <div class="clearfix m_bottom_15">
          <!--rating-->
          <ul class="horizontal_list d_inline_b m_bottom_10 type_2 clearfix rating_list tr_all_hover">
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li>
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
          </ul>
          <p class="scheme_color f_size_large">$57.00</p>
        </div>
        <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>
        <div class="clearfix m_bottom_5">
          <ul class="horizontal_list d_inline_b l_width_divider">
            <li class="m_right_15 f_md_none m_md_right_0"><a href="#" class="color_dark">Add to Wishlist</a></li>
            <li class="f_md_none"><a href="#" class="color_dark">Add to Compare</a></li>
          </ul>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item specials w_xs_full">
    <figure class="r_corners photoframe tr_all_hover type_2 t_align_c shadow relative">
      <!--product preview-->
      <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
        <%= image_tag 'product_img_7.jpg', class: 'tr_all_hover', alt: "" %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <h5 class="m_bottom_10"><a href="#" class="color_dark">Eget elementum vel</a></h5>
        <div class="clearfix">
          <!--rating-->
          <ul class="horizontal_list d_inline_b m_bottom_10 type_2 clearfix rating_list tr_all_hover">
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li>
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
          </ul>
          <p class="scheme_color f_size_large m_bottom_15">$99.00</p>
        </div>
        <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>
        <div class="clearfix m_bottom_5">
          <ul class="horizontal_list d_inline_b l_width_divider">
            <li class="m_right_15 f_md_none m_md_right_0"><a href="#" class="color_dark">Add to Wishlist</a></li>
            <li class="f_md_none"><a href="#" class="color_dark">Add to Compare</a></li>
          </ul>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item specials w_xs_full">
    <figure class="r_corners photoframe tr_all_hover type_2 t_align_c shadow relative">
      <!--product preview-->
      <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
        <%= image_tag 'product_img_9.jpg', class: 'tr_all_hover', alt: "" %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <h5 class="m_bottom_10"><a href="#" class="color_dark">Cursus eleifend elit aenean.</a></h5>
        <div class="clearfix">
          <!--rating-->
          <ul class="horizontal_list d_inline_b m_bottom_10 type_2 clearfix rating_list tr_all_hover">
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li>
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
          </ul>
          <p class="scheme_color f_size_large m_bottom_15">$99.00</p>
        </div>
        <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>
        <div class="clearfix m_bottom_5">
          <ul class="horizontal_list d_inline_b l_width_divider">
            <li class="m_right_15 f_md_none m_md_right_0"><a href="#" class="color_dark">Add to Wishlist</a></li>
            <li class="f_md_none"><a href="#" class="color_dark">Add to Compare</a></li>
          </ul>
        </div>
      </figcaption>
    </figure>
  </div>
  <!--product item-->
  <div class="product_item rated w_xs_full">
    <figure class="r_corners photoframe tr_all_hover type_2 t_align_c shadow relative">
      <!--product preview-->
      <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
        <%= image_tag 'product_img_6.jpg', class: 'tr_all_hover', alt: "" %>
        <span role="button" data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
      </a>
      <!--description and price of product-->
      <figcaption>
        <h5 class="m_bottom_10"><a href="#" class="color_dark">Aliquam erat volutpat</a></h5>
        <div class="clearfix">
          <!--rating-->
          <ul class="horizontal_list d_inline_b m_bottom_10 type_2 clearfix rating_list tr_all_hover">
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li class="active">
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
            <li>
              <i class="fa fa-star-o empty tr_all_hover"></i>
              <i class="fa fa-star active tr_all_hover"></i>
            </li>
          </ul>
          <p class="scheme_color f_size_large m_bottom_15">$36.00</p>
        </div>
        <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Add to Cart</button>
        <div class="clearfix m_bottom_5">
          <ul class="horizontal_list d_inline_b l_width_divider">
            <li class="m_right_15 f_md_none m_md_right_0"><a href="#" class="color_dark">Add to Wishlist</a></li>
            <li class="f_md_none"><a href="#" class="color_dark">Add to Compare</a></li>
          </ul>
        </div>
      </figcaption>
    </figure>
  </div>
</section>