<div class="popup_wrap d_none" id="quick_view_product">
  <section class="popup r_corners shadow">
    <button class="bg_tr color_dark tr_all_hover text_cs_hover close f_size_large"><i class="fa fa-times"></i></button>
    <div class="clearfix">
      <div class="custom_scrollbar">
        <!--left popup column-->
        <div class="f_left half_column">
          <div class="relative d_inline_b m_bottom_10 qv_preview">
            <span class="hot_stripe">
              <%= image_tag 'sale_product.png' %></span>
            <%= image_tag 'quick_view_img_1.jpg', class:  'tr_all_hover' %>
          </div>
          <!--carousel-->
          <div class="relative qv_carousel_wrap m_bottom_20">
            <button class="button_type_11 t_align_c f_size_ex_large bg_cs_hover r_corners d_inline_middle bg_tr tr_all_hover qv_btn_prev">
              <i class="fa fa-angle-left "></i>
            </button>
            <ul class="qv_carousel d_inline_middle">
              <li data-src="<%= image_url('quick_view_img_1.jpg') %>"><%= image_tag 'quick_view_img_4.jpg' %></li>
              <li data-src="<%= image_url('quick_view_img_2.jpg') %>"><%= image_tag 'quick_view_img_5.jpg' %></li>
              <li data-src="<%= image_url('quick_view_img_3.jpg') %>"><%= image_tag 'quick_view_img_5.jpg' %></li>
              <li data-src="<%= image_url('quick_view_img_1.jpg') %>"><%= image_tag 'quick_view_img_4.jpg' %></li>
              <li data-src="<%= image_url('quick_view_img_2.jpg') %>"><%= image_tag 'quick_view_img_5.jpg' %></li>
              <li data-src="<%= image_url('quick_view_img_3.jpg') %>"><%= image_tag 'quick_view_img_6.jpg' %></li>
            </ul>
            <button class="button_type_11 t_align_c f_size_ex_large bg_cs_hover r_corners d_inline_middle bg_tr tr_all_hover qv_btn_next">
              <i class="fa fa-angle-right "></i>
            </button>
          </div>
          <div class="d_inline_middle">Share this:</div>
          <%= render 'spree/shared/share' %>
        </div>
        <!--right popup column-->
        <div class="f_right half_column">
          <!--description-->
          <h2 class="m_bottom_10"><a href="/products/apache-baseball-jersey" class="color_dark fw_medium">Eget elementum vel</a></h2>
          <div class="m_bottom_10">
            <!--rating-->
            <ul class="horizontal_list d_inline_middle type_2 clearfix rating_list tr_all_hover">
              <li class="active">
                <i class="fa fa-star-o empty tr_all_hover"></i>
                <i class="fa fa-star active tr_all_hover"></i>
              </li>
              <li class="active">
                <i class="fa fa-star-o empty tr_all_hover"></i>
                <i class="fa fa-star active tr_all_hover"></i>
              </li>
              <li class="active">
                <i class="fa fa-star-o empty tr_all_hover"></i>
                <i class="fa fa-star active tr_all_hover"></i>
              </li>
              <li class="active">
                <i class="fa fa-star-o empty tr_all_hover"></i>
                <i class="fa fa-star active tr_all_hover"></i>
              </li>
              <li>
                <i class="fa fa-star-o empty tr_all_hover"></i>
                <i class="fa fa-star active tr_all_hover"></i>
              </li>
            </ul>
            <a href="#" class="d_inline_middle default_t_color f_size_small m_left_5">1 Review(s) </a>
          </div>
          <hr class="m_bottom_10 divider_type_3">
          <table class="description_table m_bottom_10">
            <tr>
              <td>Manufacturer:</td>
              <td><a href="#" class="color_dark">Chanel</a></td>
            </tr>
            <tr>
              <td>Availability:</td>
              <td><span class="color_green">in stock</span> 20 item(s)</td>
            </tr>
            <tr>
              <td>Product Code:</td>
              <td>PS06</td>
            </tr>
          </table>
          <h5 class="fw_medium m_bottom_10">Product Dimensions and Weight</h5>
          <table class="description_table m_bottom_5">
            <tr>
              <td>Product Length:</td>
              <td><span class="color_dark">10.0000M</span></td>
            </tr>
            <tr>
              <td>Product Weight:</td>
              <td>10.0000KG</td>
            </tr>
          </table>
          <hr class="divider_type_3 m_bottom_10">
          <p class="m_bottom_10">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. </p>
          <hr class="divider_type_3 m_bottom_15">
          <div class="m_bottom_15">
            <s class="v_align_b f_size_ex_large">$152.00</s><span class="v_align_b f_size_big m_left_5 scheme_color fw_medium">$102.00</span>
          </div>
          <table class="description_table type_2 m_bottom_15">
            <tr>
              <td class="v_align_m">Size:</td>
              <td class="v_align_m">
                <div class="custom_select f_size_medium relative d_inline_middle">
                  <div class="select_title r_corners relative color_dark">s</div>
                  <ul class="select_list d_none"></ul>
                  <select name="product_name">
                    <option value="s">s</option>
                    <option value="m">m</option>
                    <option value="l">l</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td class="v_align_m">Quantity:</td>
              <td class="v_align_m">
                <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark">
                  <button class="bg_tr d_block f_left" data-direction="down">-</button>
                  <input type="text" name="" readonly value="1" class="f_left">
                  <button class="bg_tr d_block f_left" data-direction="up">+</button>
                </div>
              </td>
            </tr>
          </table>
          <div class="clearfix m_bottom_15">
            <button class="button_type_12 r_corners bg_scheme_color color_light tr_delay_hover f_left f_size_large">Add to Cart</button>
            <button class="button_type_12 bg_light_color_2 tr_delay_hover f_left r_corners color_dark m_left_5 p_hr_0"><i class="fa fa-heart-o f_size_big"></i><span class="tooltip tr_all_hover r_corners color_dark f_size_small">Wishlist</span></button>
            <button class="button_type_12 bg_light_color_2 tr_delay_hover f_left r_corners color_dark m_left_5 p_hr_0"><i class="fa fa-files-o f_size_big"></i><span class="tooltip tr_all_hover r_corners color_dark f_size_small">Compare</span></button>
            <button class="button_type_12 bg_light_color_2 tr_delay_hover f_left r_corners color_dark m_left_5 p_hr_0 relative"><i class="fa fa-question-circle f_size_big"></i><span class="tooltip tr_all_hover r_corners color_dark f_size_small">Ask a Question</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>