<div class="camera_wrap m_bottom_0">
  <div data-src="<%= image_url 'slide_02.jpg' %>" data-custom-thumb="<%= image_url 'slide_02.jpg' %>">
    <div class="camera_caption_1 fadeFromTop t_align_c d_xs_none">
      <div class="f_size_large color_light tt_uppercase slider_title_3 m_bottom_5">Meet New Theme</div>
      <hr class="slider_divider d_inline_b m_bottom_5">
      <div class="color_light slider_title tt_uppercase t_align_c m_bottom_45 m_sm_bottom_20"><b>Attractive &amp; Elegant<br>HTML Theme</b></div>
      <div class="color_light slider_title_2 m_bottom_45">$<b>15.00</b></div>
      <a href="#" role="button" class="tr_all_hover button_type_4 bg_scheme_color color_light r_corners tt_uppercase">Buy Now</a>
    </div>
  </div>
  <div data-src="<%= image_url 'slide_01.jpg' %>" data-custom-thumb="<%= image_url 'slide_01.jpg' %>">
    <div class="camera_caption_2 fadeIn t_align_c d_xs_none">
      <div class="f_size_large tt_uppercase slider_title_3 scheme_color">New arrivals</div>
      <hr class="slider_divider type_2 m_bottom_5 d_inline_b">
      <div class="color_light slider_title tt_uppercase t_align_c m_bottom_65 m_sm_bottom_20"><b><span class="scheme_color">Spring/Summer 2014</span><br><span class="color_dark">Ready-To-Wear</span></b></div>
      <a href="#" role="button" class="d_sm_inline_b button_type_4 bg_scheme_color color_light r_corners tt_uppercase tr_all_hover">View Collection</a>
    </div>
  </div>
  <div data-src="<%= image_url 'slide_03.jpg' %>" data-custom-thumb="<%= image_url 'slide_03.jpg' %>">
    <div class="camera_caption_3 fadeFromTop t_align_c d_xs_none">
      <%= image_tag 'slider_layer_img.png', class: "m_bottom_5" %>
      <div class="color_light slider_title tt_uppercase t_align_c m_bottom_60 m_sm_bottom_20"><b class="color_dark">up to 70% off</b></div>
      <a href="#" role="button" class="d_sm_inline_b button_type_4 bg_scheme_color color_light r_corners tt_uppercase tr_all_hover">Shop Now</a>
    </div>
  </div>
</div>