<ul class="social_widgets d_xs_none">
  <!--facebook-->
  <li class="relative">
    <button class="sw_button t_align_c facebook"><i class="fa fa-facebook"></i></button>
    <div class="sw_content">
      <h3 class="color_dark m_bottom_20">Join Us on Facebook</h3>
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fenvato&amp;width=235&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=438889712801266" style="border:none; overflow:hidden; width:235px; height:258px;"></iframe>
    </div>
  </li>
  <!--twitter feed-->
  <li class="relative">
    <button class="sw_button t_align_c twitter"><i class="fa fa-twitter"></i></button>
    <div class="sw_content">
      <h3 class="color_dark m_bottom_20">Latest Tweets</h3>
      <div class="twitterfeed m_bottom_25"></div>
      <a role="button" class="button_type_4 d_inline_b r_corners tr_all_hover color_light tw_color" href="https://twitter.com/fanfbmltemplate">Follow on Twitter</a>
    </div>
  </li>
  <!--contact form-->
  <li class="relative">
    <button class="sw_button t_align_c contact"><i class="fa fa-envelope-o"></i></button>
    <div class="sw_content">
      <h3 class="color_dark m_bottom_20">Contact Us</h3>
      <p class="f_size_medium m_bottom_15">Lorem ipsum dolor sit amet, consectetuer adipis mauris</p>
      <form id="contactform" class="mini">
        <input class="f_size_medium m_bottom_10 r_corners full_width" type="text" name="cf_name" placeholder="Your name">
        <input class="f_size_medium m_bottom_10 r_corners full_width" type="email" name="cf_email" placeholder="Email">
        <textarea class="f_size_medium r_corners full_width m_bottom_20" placeholder="Message" name="cf_message"></textarea>
        <button type="submit" class="button_type_4 r_corners mw_0 tr_all_hover color_dark bg_light_color_2">Send</button>
      </form>
    </div>
  </li>
  <!--contact info-->
  <li class="relative">
    <button class="sw_button t_align_c googlemap"><i class="fa fa-map-marker"></i></button>
    <div class="sw_content">
      <h3 class="color_dark m_bottom_20">Store Location</h3>
      <ul class="c_info_list">
        <li class="m_bottom_10">
          <div class="clearfix m_bottom_15">
            <i class="fa fa-map-marker f_left color_dark"></i>
            <p class="contact_e">8901 Marmora Road,<br> Glasgow, D04 89GR.</p>
          </div>
          <iframe class="r_corners full_width" id="gmap_mini" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=Manhattan,+New+York,+NY,+United+States&amp;aq=0&amp;oq=monheten&amp;sll=37.0625,-95.677068&amp;sspn=65.430355,129.814453&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9C%D0%B0%D0%BD%D1%85%D1%8D%D1%82%D1%82%D0%B5%D0%BD,+%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%9D%D1%8C%D1%8E+%D0%99%D0%BE%D1%80%D0%BA,+%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA&amp;ll=40.790278,-73.959722&amp;spn=0.015612,0.031693&amp;z=13&amp;output=embed"></iframe>
        </li>
        <li class="m_bottom_10">
          <div class="clearfix m_bottom_10">
            <i class="fa fa-phone f_left color_dark"></i>
            <p class="contact_e">800-559-65-80</p>
          </div>
        </li>
        <li class="m_bottom_10">
          <div class="clearfix m_bottom_10">
            <i class="fa fa-envelope f_left color_dark"></i>
            <a class="contact_e default_t_color" href="mailto:#">info@companyname.com</a>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <i class="fa fa-clock-o f_left color_dark"></i>
            <p class="contact_e">Monday - Friday: 08.00-20.00 <br>Saturday: 09.00-15.00<br> Sunday: closed</p>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>