<%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
<ul>
  <li class="m_bottom_25">
    <label for="d_name" class="d_inline_b m_bottom_5 required">Displayed Name</label>
    <input type="text" id="d_name" name="" class="r_corners full_width">
  </li>
  <li class="m_bottom_5">
    <input type="checkbox" class="d_none" name="checkbox_5" id="checkbox_5"><label for="checkbox_5">Create an account</label>
  </li>
  <li class="m_bottom_15">
    <label for="u_name" class="d_inline_b m_bottom_5 required">Username</label>
    <input type="text" id="u_name" name="" class="r_corners full_width">
  </li>
  <li class="m_bottom_15">
    <label for="u_email" class="d_inline_b m_bottom_5 required">Email</label>
    <!--<input type="email" id="u_email" name="" class="r_corners full_width">-->
    <%= f.email_field :email, :class => 'r_corners full_width', :id => 'u_email' %>
  </li>
  <li class="m_bottom_15">
    <label for="u_pass" class="d_inline_b m_bottom_5 required">Password</label>
    <!--<input type="password" id="u_pass" name="" class="r_corners full_width">-->
    <%= f.password_field :password, :class => 'r_corners full_width', :id => 'u_pass' %>
  </li>
  <li class="m_bottom_15">
    <label for="u_repeat_pass" class="d_inline_b m_bottom_5 required">Confirm Password</label>
    <!--<input type="password" id="u_repeat_pass" name="" class="r_corners full_width">-->
    <%= f.password_field :password_confirmation, :class => 'r_corners full_width', :id => 'u_repeat_pass' %>
  </li>
  <li><button class="button_type_4 r_corners bg_scheme_color color_light tr_all_hover">Register</button></li>
</ul>
<% end %>



<!--<fieldset id="password-credentials">-->
  <!--<div class="form-group">-->
    <!--<%#= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>-->
  <!--</div>-->
  <!--<hr />-->
  <!--<div class="form-group">-->
    <!--<%#= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>-->
  <!--</div> -->
  <!--<div class="form-group">-->
    <!--<%#= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>-->
  <!--</div> -->
<!--</fieldset>-->
<!--<div data-hook="signup_below_password_fields"></div>-->