<section class="breadcrumbs">
  <div class="container">
    <ul class="horizontal_list clearfix bc_list f_size_medium">
      <li class="m_right_10 current"><a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
      <li class="m_right_10 current"><a href="#" class="default_t_color">Blog<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
      <li class="m_right_10 current"><a href="#" class="default_t_color">Fashion<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
      <li><a href="#" class="default_t_color">Ut tellus dolor, dapibus eget, elementum vel</a></li>
    </ul>
  </div>
</section>

<div class="page_content_offset">
  <div class="container">
    <div class="row clearfix">
      <!--left content column-->
      <section class="col-lg-9 col-md-9 col-sm-9">
        <!--blog post-->
        <article class="m_bottom_15">
          <div class="row clearfix m_bottom_15">
            <div class="col-lg-9 col-md-9 col-sm-8">
              <h2 class="m_bottom_5 color_dark fw_medium m_xs_bottom_10">Ut tellus dolor, dapibus eget, elementum vel</h2>
              <p class="f_size_medium">25 January, 2013, <a href="#" class="color_dark">12 comments</a>, on <a href="#" class="color_dark">Fashion</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 t_align_r t_xs_align_l">
              <p class="f_size_medium d_xs_inline_middle">Rate this item</p>
              <!--rating-->
              <ul class="horizontal_list d_inline_middle type_2 clearfix rating_list tr_all_hover">
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li class="active">
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
                <li>
                  <i class="fa fa-star-o empty tr_all_hover"></i>
                  <i class="fa fa-star active tr_all_hover"></i>
                </li>
              </ul>
              <a href="#" class="d_inline_middle f_size_medium default_t_color m_left_5">(1 Vote)</a>
            </div>
          </div>
          <a href="#" class="d_block photoframe r_corners wrapper shadow m_bottom_15">
            <%= image_tag 'blog_img_4.jpg', class: 'tr_all_long_hover', alt: "" %>
          </a>
          <!--post content-->
          <p class="m_bottom_15">Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. <a href="#" class="color_dark">Sed laoreet aliquam</a> leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. </p>
          <ul class="vertical_list_type_2 m_left_20">
            <li class="m_bottom_15">Alesuada at, neque. Vivamus eget nibh. </li>
            <li class="m_bottom_15">Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. </li>
            <li class="m_bottom_15">Vestibulum ante ipsum primis in faucibus orci.</li>
          </ul>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <a href="#" class="color_dark">Suspendisse sollicitudin</a> velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede </p>
        </article>
        <div class="m_bottom_30">
          <p class="d_inline_middle">Share this:</p>
          <%= social_share_button_tag()%>
        </div>
        <hr class="divider_type_3 m_bottom_10">
        <p class="m_bottom_10">More in this category: <a href="#" class="color_dark">Phasellus ullamcorper blandit leo, id pharetra leo » </a></p>
        <hr class="divider_type_3 m_bottom_45">
        <!--comments-->
        <h2 class="tt_uppercase color_dark m_bottom_30">Comments</h2>
        <div class="m_bottom_45">
          <!--comment first level-->
          <div class="clearfix comment_wrap m_bottom_25">
            <!--comment author photo-->
            <%= image_tag 'testimonial_img_1.jpg', class: 'f_left_circle', alt: "" %>
            <div class="comment_content_wrap">
              <header class="m_bottom_5">
                <a href="#" class="color_dark"><b>Marta Healy</b></a> - 2014-01-19 17:15
                <a href="#" class="f_right color_dark">Quote</a>
              </header>
              <div class="comment relative bg_light_color_3 r_corners shadow">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</div>
            </div>
          </div>
          <!--comment second level-->
          <div class="clearfix comment_wrap m_left_20 m_bottom_25">
            <!--comment author photo-->
            <%= image_tag 'testimonial_img_2.jpg', class: 'f_left_circle', alt: '' %>
            <div class="comment_content_wrap">
              <header class="m_bottom_5">
                <a href="#" class="color_dark"><b>Alan Smith</b></a> - 2014-01-19 17:15
                <a href="#" class="f_right color_dark">Quote</a>
              </header>
              <div class="comment relative bg_light_color_3 r_corners shadow">Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. </div>
            </div>
          </div>
          <!--comment first level-->
          <div class="clearfix comment_wrap">
            <!--comment author photo-->
            <%= image_tag 'testimonial_img_3.jpg', alt: "", class: 'f_left_circle' %>
            <div class="comment_content_wrap">
              <header class="m_bottom_5">
                <a href="#" class="color_dark"><b>Anna Johnson</b></a> - 2014-01-19 17:15
                <a href="#" class="f_right color_dark">Quote</a>
              </header>
              <div class="comment relative bg_light_color_3 r_corners shadow">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa.</div>
            </div>
          </div>
        </div>
        <!--add comment-->
        <h2 class="tt_uppercase color_dark m_bottom_30">Add Comment</h2>
        <form class="bs_inner_offsets full_width bg_light_color_3 r_corners shadow m_xs_bottom_30">
          <ul>
            <li class="clearfix m_bottom_15">
              <div class="f_left half_column f_xs_none w_xs_full p_xs_hr_0 m_xs_bottom_15">
                <label for="name" class="d_inline_b m_bottom_5">Name (required)</label><br>
                <input type="text" id="name" name="" class="r_corners full_width">
              </div>
              <div class="f_left half_column f_xs_none w_xs_full p_xs_hr_0">
                <label for="email" class="d_inline_b m_bottom_5">Email (required, but will not display)</label><br>
                <input type="email" id="email" name="" class="r_corners full_width">
              </div>
            </li>
            <li class="m_bottom_15">
              <label for="website" class="d_inline_b m_bottom_5">Website</label><br>
              <input type="url" id="website" name="" class="r_corners full_width">
            </li>
            <li class="m_bottom_15">
              <label for="comments" class="d_inline_b m_bottom_5">Comments</label><br>
              <textarea id="comments" name="" class="r_corners full_width"></textarea>
            </li>
            <li class="m_bottom_15">
              <input type="checkbox" class="d_none" id="checkbox_1"><label for="checkbox_1">Notify me of follow-up comments</label>
            </li>
            <li class="m_bottom_20">
              <%= image_tag 'capcha.jpg', alt: "", class: 'v_align_bottom' %>
              <a href="#" class="color_dark d_inline_b m_left_10 v_align_bottom"><i class="fa fa-refresh m_right_5"></i>Refresh</a>
            </li>
            <li class="m_bottom_20">
              <input type="text" id="capcha" name="" class="r_corners full_width">
            </li>
            <li class="m_bottom_10">
              <button class="r_corners button_type_4 bg_light_color_2 mw_0 color_dark tr_all_hover">Submit</button>
            </li>
          </ul>
        </form>
      </section>
      <!--right column-->
      <%= render 'spree/shared/blog_right_side' %>

    </div>
  </div>
</div>