<% if params[:view_type] == 'list' %>
$('.product_container').html("<%= escape_javascript(render 'spree/shared/products_list_view') %>");
$('#list').removeClass('bg_light_color_1 color_dark').addClass('bg_scheme_color color_light');
$('#grid').removeClass('bg_scheme_color color_light').addClass('bg_light_color_1 color_dark');

<% else %>
$('.product_container').html("<%= escape_javascript(render 'spree/shared/products_grid_view') %>");
$('#grid').removeClass('bg_light_color_1 color_dark').addClass('bg_scheme_color color_light');
$('#list').removeClass('bg_scheme_color color_light').addClass('bg_light_color_1 color_dark');
var container = $('.products_container');

container.isotope({
    itemSelector : '.product_item',
    layoutMode : 'fitRows'
});
<% end %>