  <!--slider-->
  <%= render 'spree/shared/slider' %>
    <!--content-->
  <div class="page_content_offset">
    <div class="container">
      <h2 class="tt_uppercase m_bottom_20 color_dark heading1 animate_ftr">All Products</h2>
      <!--filter navigation of products-->
      <ul class="horizontal_list clearfix tt_uppercase isotope_menu f_size_ex_large">
        <li class="active m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter="*">All</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".featured">Featured</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".new">New</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".specials">Specials</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".hit">Hit</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".random">Random</button></li>
        <li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter=".rated">Rated</button></li>
      </ul>
      <!--products-->
<%= render 'spree/shared/products_list' %>
      <!--banners-->
      <section class="row clearfix m_bottom_45 m_sm_bottom_35">
        <div class="col-lg-6 col-md-6 col-sm-6 animate_half_tc">
          <a href="#" class="d_block banner wrapper r_corners relative m_xs_bottom_30">
            <%= image_tag 'banner_img_1.png' %>
								<span class="banner_caption d_block vc_child t_align_c w_sm_auto">
									<span class="d_inline_middle">
										<span class="d_block color_dark tt_uppercase m_bottom_5 let_s">New Collection!</span>
										<span class="d_block divider_type_2 centered_db m_bottom_5"></span>
										<span class="d_block color_light tt_uppercase m_bottom_25 m_xs_bottom_10 banner_title"><b>Colored Fashion</b></span>
										<span class="button_type_6 bg_scheme_color tt_uppercase r_corners color_light d_inline_b tr_all_hover box_s_none f_size_ex_large">Shop Now!</span>
									</span>
								</span>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 animate_half_tc">
          <a href="#" class="d_block banner wrapper r_corners type_2 relative">
            <%= image_tag 'banner_img_2.png' %>
								<span class="banner_caption d_block vc_child t_align_c w_sm_auto">
									<span class="d_inline_middle">
										<span class="d_block scheme_color banner_title type_2 m_bottom_5 m_mxs_bottom_5"><b>-50%</b></span>
										<span class="d_block divider_type_2 centered_db m_bottom_5 d_sm_none"></span>
										<span class="d_block color_light tt_uppercase m_bottom_15 banner_title_3 m_md_bottom_5 d_mxs_none">On All<br><b>Sunglasses</b></span>
										<span class="button_type_6 bg_dark_color tt_uppercase r_corners color_light d_inline_b tr_all_hover box_s_none f_size_ex_large">Shop Now!</span>
									</span>
								</span>
          </a>
        </div>
      </section>
      <!--product brands-->
      <div class="clearfix m_bottom_25 m_sm_bottom_20">
        <h2 class="tt_uppercase color_dark f_left heading2 animate_fade f_mxs_none m_mxs_bottom_15">Product Brands</h2>
        <div class="f_right clearfix nav_buttons_wrap animate_fade f_mxs_none">
          <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left tr_delay_hover r_corners pb_prev"><i class="fa fa-angle-left"></i></button>
          <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners pb_next"><i class="fa fa-angle-right"></i></button>
        </div>
      </div>
      <!--product brands carousel-->
      <div class="product_brands m_bottom_45 m_sm_bottom_35">
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
        <a href="/manufacturer_details" class="d_block t_align_c animate_fade"><%= image_tag 'brand_logo.jpg' %></a>
      </div>
      <!--blog-->
      <div class="row clearfix m_bottom_45 m_sm_bottom_35">
        <div class="col-lg-6 col-md-6 col-sm-12 m_sm_bottom_35 blog_animate animate_ftr">
          <div class="clearfix m_bottom_25 m_sm_bottom_20">
            <h2 class="tt_uppercase color_dark f_left">From The Blog</h2>
            <div class="f_right clearfix nav_buttons_wrap">
              <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left tr_delay_hover r_corners blog_prev"><i class="fa fa-angle-left"></i></button>
              <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners blog_next"><i class="fa fa-angle-right"></i></button>
            </div>
          </div>
          <!--blog carousel-->
          <div class="blog_carousel">
            <div class="clearfix">
              <!--image-->
              <a href="#" class="d_block photoframe relative shadow wrapper r_corners f_left m_right_20 animate_ftt f_mxs_none m_mxs_bottom_10">
                <%= image_tag 'blog_img_1.jpg',class: 'tr_all_long_hover' %>
              </a>
              <!--post content-->
              <div class="mini_post_content">
                <h4 class="m_bottom_5 animate_ftr"><a href="#" class="color_dark"><b>Ut tellus dolor, dapibus eget, elementum vel</b></a></h4>
                <p class="f_size_medium m_bottom_10 animate_ftr">25 January, 2013, 5 comments</p>
                <p class="m_bottom_10 animate_ftr">Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
                <a class="tt_uppercase f_size_large animate_ftr" href="#">Read More</a>
              </div>
            </div>
            <div class="clearfix">
              <!--image-->
              <a href="#" class="d_block photoframe relative shadow wrapper r_corners f_left m_right_20 animate_ftt f_mxs_none m_mxs_bottom_10">
                <%= image_tag 'blog_img_2.jpg',class: 'tr_all_long_hover' %>
              </a>
              <!--post content-->
              <div class="mini_post_content">
                <h4 class="m_bottom_5 animate_ftr"><a href="#" class="color_dark"><b>Cursus eleifend, elit aenean set amet lorem</b></a></h4>
                <p class="f_size_medium m_bottom_10 animate_ftr">30 January, 2013, 6 comments</p>
                <p class="m_bottom_10 animate_ftr">Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
                <a class="tt_uppercase f_size_large animate_ftr" href="#">Read More</a>
              </div>
            </div>
            <div class="clearfix">
              <!--image-->
              <a href="#" class="d_block photoframe relative shadow wrapper r_corners f_left m_right_20 animate_ftt f_mxs_none m_mxs_bottom_10">
                <%= image_tag 'blog_img_3.jpg',class: 'tr_all_long_hover' %>
              </a>
              <!--post content-->
              <div class="mini_post_content">
                <h4 class="m_bottom_5 animate_ftr"><a href="#" class="color_dark"><b>In pede mi, aliquet sit ut tellus dolor</b></a></h4>
                <p class="f_size_medium m_bottom_10 animate_ftr">1 February, 2013, 12 comments</p>
                <p class="m_bottom_10 animate_ftr">Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
                <a class="tt_uppercase f_size_large animate_ftr" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <!--testimonials-->
        <div class="col-lg-6 col-md-6 col-sm-12 ti_animate animate_ftr">
          <div class="clearfix m_bottom_25 m_sm_bottom_20">
            <h2 class="tt_uppercase color_dark f_left f_mxs_none m_mxs_bottom_15">What Our Customers Say</h2>
            <div class="f_right clearfix nav_buttons_wrap f_mxs_none">
              <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left tr_delay_hover r_corners ti_prev"><i class="fa fa-angle-left"></i></button>
              <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners ti_next"><i class="fa fa-angle-right"></i></button>
            </div>
          </div>
          <!--testimonials carousel-->
          <div class="testiomials_carousel">
            <div>
              <blockquote class="r_corners shadow f_size_large relative m_bottom_15 animate_ftr">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</blockquote>
              <%= image_tag 'testimonial_img_1.jpg',class: 'circle m_left_20 d_inline_middle animate_ftr' %>
              <div class="d_inline_middle m_left_15 animate_ftr">
                <h5 class="color_dark"><b>Marta Healy</b></h5>
                <p>Los Angeles</p>
              </div>
            </div>
            <div>
              <blockquote class="r_corners shadow f_size_large relative m_bottom_15">Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</blockquote>
              <%= image_tag 'testimonial_img_2.jpg',class: 'circle m_left_20 d_inline_middle' %>
              <div class="d_inline_middle m_left_15">
                <h5 class="color_dark"><b>Alan Smith</b></h5>
                <p>New York</p>
              </div>
            </div>
            <div>
              <blockquote class="r_corners shadow f_size_large relative m_bottom_15">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt.</blockquote>
              <%= image_tag 'testimonial_img_3.jpg',class: 'circle m_left_20 d_inline_middle' %>
              <div class="d_inline_middle m_left_15">
                <h5 class="color_dark"><b>Anna Johnson</b></h5>
                <p>Detroid</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--banners-->
      <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners red t_align_c tt_uppercase vc_child n_sm_vc_child">
								<span class="d_inline_middle">
                                   <%= image_tag 'banner_img_3.png',class: 'd_inline_middle m_md_bottom_5' %>
									<span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
										<b>100% Satisfaction</b><br><span class="color_dark">Guaranteed</span>
									</span>
								</span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners green t_align_c tt_uppercase vc_child n_sm_vc_child">
								<span class="d_inline_middle">
                                   <%= image_tag 'banner_img_4.png',class: 'd_inline_middle m_md_bottom_5' %>
									<span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
										<b>Free Shipping</b><br><span class="color_dark">On All Items</span>
									</span>
								</span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="#" class="d_block animate_ftb h_md_auto banner_type_2 r_corners orange t_align_c tt_uppercase vc_child n_sm_vc_child">
								<span class="d_inline_middle">
                                   <%= image_tag 'banner_img_5.png',class: 'd_inline_middle m_md_bottom_5' %>
									<span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
										<b>Great Daily Deals</b><br><span class="color_dark">Shop Now!</span>
									</span>
								</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--markup footer-->

</div>
<!--social widgets-->
<ul class="social_widgets d_xs_none">
  <!--facebook-->
  <li class="relative">
    <button class="sw_button t_align_c facebook"><i class="fa fa-facebook"></i></button>
    <div class="sw_content">
      <h3 class="color_dark m_bottom_20">Join Us on Facebook</h3>
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fenvato&amp;width=235&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=438889712801266" style="border:none; overflow:hidden; width:235px; height:258px;"></iframe>
    </div>
  </li>
  <!--twitter feed-->
  <li class="relative">
    <button class="sw_button t_align_c twitter"><i class="fa fa-twitter"></i></button>
    <div class="sw_content">
      <h3 class="color_dark m_bottom_20">Latest Tweets</h3>
      <div class="twitterfeed m_bottom_25"></div>
      <a role="button" class="button_type_4 d_inline_b r_corners tr_all_hover color_light tw_color" href="https://twitter.com/fanfbmltemplate">Follow on Twitter</a>
    </div>
  </li>
  <!--contact form-->
  <li class="relative">
    <button class="sw_button t_align_c contact"><i class="fa fa-envelope-o"></i></button>
    <div class="sw_content">
      <h3 class="color_dark m_bottom_20">Contact Us</h3>
      <p class="f_size_medium m_bottom_15">Lorem ipsum dolor sit amet, consectetuer adipis mauris</p>
      <form id="contactform" class="mini">
        <input class="f_size_medium m_bottom_10 r_corners full_width" type="text" name="cf_name" placeholder="Your name">
        <input class="f_size_medium m_bottom_10 r_corners full_width" type="email" name="cf_email" placeholder="Email">
        <textarea class="f_size_medium r_corners full_width m_bottom_20" placeholder="Message" name="cf_message"></textarea>
        <button type="submit" class="button_type_4 r_corners mw_0 tr_all_hover color_dark bg_light_color_2">Send</button>
      </form>
    </div>
  </li>
  <!--contact info-->
  <li class="relative">
    <button class="sw_button t_align_c googlemap"><i class="fa fa-map-marker"></i></button>
    <div class="sw_content">
      <h3 class="color_dark m_bottom_20">Store Location</h3>
      <ul class="c_info_list">
        <li class="m_bottom_10">
          <div class="clearfix m_bottom_15">
            <i class="fa fa-map-marker f_left color_dark"></i>
            <p class="contact_e">8901 Marmora Road,<br> Glasgow, D04 89GR.</p>
          </div>
          <iframe class="r_corners full_width" id="gmap_mini" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=Manhattan,+New+York,+NY,+United+States&amp;aq=0&amp;oq=monheten&amp;sll=37.0625,-95.677068&amp;sspn=65.430355,129.814453&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9C%D0%B0%D0%BD%D1%85%D1%8D%D1%82%D1%82%D0%B5%D0%BD,+%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%9D%D1%8C%D1%8E+%D0%99%D0%BE%D1%80%D0%BA,+%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA&amp;ll=40.790278,-73.959722&amp;spn=0.015612,0.031693&amp;z=13&amp;output=embed"></iframe>
        </li>
        <li class="m_bottom_10">
          <div class="clearfix m_bottom_10">
            <i class="fa fa-phone f_left color_dark"></i>
            <p class="contact_e">800-559-65-80</p>
          </div>
        </li>
        <li class="m_bottom_10">
          <div class="clearfix m_bottom_10">
            <i class="fa fa-envelope f_left color_dark"></i>
            <a class="contact_e default_t_color" href="mailto:#">info@companyname.com</a>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <i class="fa fa-clock-o f_left color_dark"></i>
            <p class="contact_e">Monday - Friday: 08.00-20.00 <br>Saturday: 09.00-15.00<br> Sunday: closed</p>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>
<!--login popup-->

<button class="t_align_c r_corners tr_all_hover animate_ftl" id="go_to_top"><i class="fa fa-angle-up"></i></button>
<!--scripts include-->
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5306f8f674bfda4c"></script>