<section class="breadcrumbs">
  <div class="container">
    <ul class="horizontal_list clearfix bc_list f_size_medium">
      <li class="m_right_10 current"><a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
      <li class="m_right_10 current"><a href="#" class="default_t_color">Manufacturers<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
      <li><a href="#" class="default_t_color">Manufacturer Name 1</a></li>
    </ul>
  </div>
</section>

<div class="page_content_offset">
  <div class="container">
    <div class="row clearfix">
      <!--left content column-->
      <section class="col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30">
        <h2 class="tt_uppercase color_dark m_bottom_30">Manufacturer Name 1</h2>
        <div class="bg_light_color_3 r_corners shadow manufacturers">
          <%= image_tag 'brand_logo_type_2.jpg', alt: "", class: 'f_left m_right_20 m_sm_bottom_5' %>
          <p class="m_bottom_10">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat.</p>
          <p class="m_bottom_10">Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. </p>
          <div class="clearfix">
            <ul class="horizontal_list d_inline_b l_width_divider">
              <li class="m_right_15"><a href="#" class="color_dark">Email</a></li>
              <li class="m_right_15"><a href="/manufacturers" class="color_dark">Manufacturer Page</a></li>
              <li class="m_right_15"><a href="#" class="color_dark">View All Manufacturer Name 1 Products</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!--right column-->
    </div>
  </div>
</div>
