<section class="breadcrumbs">
  <div class="container">
    <ul class="horizontal_list clearfix bc_list f_size_medium">
      <li class="m_right_10 current"><a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
      <li><a href="#" class="default_t_color">Manufacturers</a></li>
    </ul>
  </div>
</section>

<div class="page_content_offset">
  <div class="container">
    <div class="row clearfix">
      <!--left content column-->
      <section class="col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30">
        <h2 class="tt_uppercase color_dark m_bottom_30">Manufacturers</h2>
        <div class="bg_light_color_3 r_corners shadow manufacturers t_xs_align_c">
          <div class="row clearfix m_bottom_25 m_xs_bottom_0">
            <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-6 m_xs_bottom_15">
              <a href="/manufacturer_details" class="m_image_wrap d_block m_bottom_15 d_xs_inline_b d_mxs_block">
                <%= image_tag 'brand_logo_type_2.jpg', alt: "" %>
              </a>
              <figcaption>
                <h5><a href="/manufacturer_details" class="color_dark fw_medium">Manufacturer Name 1</a></h5>
              </figcaption>
            </figure>
            <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-6 m_xs_bottom_15">
              <a href="/manufacturer_details" class="m_image_wrap d_block m_bottom_15 d_xs_inline_b d_mxs_block">
                <%= image_tag 'brand_logo_type_2.jpg', alt: "" %>
              </a>
              <figcaption>
                <h5><a href="/manufacturer_details" class="color_dark fw_medium">Manufacturer Name 2</a></h5>
              </figcaption>
            </figure>
            <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-6 m_xs_bottom_15">
              <a href="/manufacturer_details" class="m_image_wrap d_block m_bottom_15 d_xs_inline_b d_mxs_block">
                <%= image_tag 'brand_logo_type_2.jpg', alt: "" %>
              </a>
              <figcaption>
                <h5><a href="/manufacturer_details" class="color_dark fw_medium">Manufacturer Name 3</a></h5>
              </figcaption>
            </figure>
            <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-6 m_xs_bottom_15">
              <a href="/manufacturer_details" class="m_image_wrap d_block m_bottom_15 d_xs_inline_b d_mxs_block">
                <%= image_tag 'brand_logo_type_2.jpg', alt: "" %>
              </a>
              <figcaption>
                <h5><a href="/manufacturer_details" class="color_dark fw_medium">Manufacturer Name 4</a></h5>
              </figcaption>
            </figure>
          </div>
          <div class="row clearfix">
            <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-6 m_xs_bottom_15">
              <a href="/manufacturer_details" class="m_image_wrap d_block m_bottom_15 d_xs_inline_b d_mxs_block">
                <%= image_tag 'brand_logo_type_2.jpg', alt: "" %>
              </a>
              <figcaption>
                <h5><a href="/manufacturer_details" class="color_dark fw_medium">Manufacturer Name 5</a></h5>
              </figcaption>
            </figure>
            <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-6 m_xs_bottom_15">
              <a href="/manufacturer_details" class="m_image_wrap d_block m_bottom_15 d_xs_inline_b d_mxs_block">
                <%= image_tag 'brand_logo_type_2.jpg', alt: ""  %>
              </a>
              <figcaption>
                <h5><a href="/manufacturer_details" class="color_dark fw_medium">Manufacturer Name 6</a></h5>
              </figcaption>
            </figure>
            <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-6 m_xs_bottom_15">
              <a href="/manufacturer_details" class="m_image_wrap d_block m_bottom_15 d_xs_inline_b d_mxs_block">
                <%= image_tag 'brand_logo_type_2.jpg', alt: "" %>
              </a>
              <figcaption>
                <h5><a href="/manufacturer_details" class="color_dark fw_medium">Manufacturer Name 7</a></h5>
              </figcaption>
            </figure>
            <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-6 m_xs_bottom_15">
              <a href="/manufacturer_details" class="m_image_wrap d_block m_bottom_15 d_xs_inline_b d_mxs_block">
                <%= image_tag 'brand_logo_type_2.jpg', alt: "" %>
              </a>
              <figcaption>
                <h5><a href="/manufacturer_details" class="color_dark fw_medium">Manufacturer Name 8</a></h5>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>
      <!--right column-->
      <%= render partial: 'spree/shared/right_column', locals: {filter: false,article: false} %>
    </div>
  </div>
</div>

