<div class="page_content_offset">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= Spree.t(:login) %></h3>
          </div>
          <div id="new-customer" class="panel-body" data-hook="login">
            <%= render 'spree/shared/login_form' %>
            <div class="text-center">
              <%= Spree.t(:or) %>
              <%= link_to Spree.t(:login_as_existing), spree.login_path %>
            </div>
            <div data-hook="login_extras"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>